 @charset "UTF-8";
 @import url("common.css");


/*  ---------------------
        common
 --------------------- */
 /* layout */

/* key visual */
.visual_wrap {position:relative;height:600px;overflow: hidden;}
.visual_wrap .txt {position:absolute;top:0;left:50%;width:1530px;transform:translateX(-50%);opacity:0;transition:all .7s ease-in-out;text-align:left;}
.visual_wrap .color_white {color:#fff;}
.visual_wrap .color_black {color:#444;}
.visual_wrap .txt_inner {position:absolute;top:0;left:131px;}
.visual_wrap .title {display:block;font-size:40px;letter-spacing:-0.4px;line-height:48px; font-weight:700;}
.visual_wrap p {font-size:18px;letter-spacing:-0.3px;margin-top:38px;margin-bottom:64px;line-height:28px;}
.visual_wrap .btn_txt.more {display:block;width:150px;font-size:18px;line-height:50px; text-align:center;}
.visual_wrap .color_white .btn_txt.more {color:#fff;border:1px solid rgba(255,255,255,0.5);}
.visual_wrap .color_black .btn_txt.more {color:#444;border:1px solid #444;}

.visual_wrap .swiper-slide {position:relative;text-align:center;font-size:18px;background:#fff;/* Center slide text vertically */ -webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.visual_wrap .swiper-pagination-bullet {width:10px;height:10px;display:inline-block;border:1px solid #fff;background:#fff;opacity:.4;}
.visual_wrap .swiper-pagination-bullet-active {opacity:1;background:#fff;width:38px;border-radius:25px;}
.visual_wrap .swiper-slide-active .txt {transition:all 0.5s;top:134px;opacity:1}




@media screen and (max-width:1600px) {
	.visual_wrap .txt {width:100%}
}

@media screen and (max-width:768px) {
	.visual_wrap {height:460px;}
  .visual_wrap .bg {height:100%;}
	.visual_wrap .txt {width:100%;left:50%;top:0;transform:translateX(-50%);}
	.visual_wrap .swiper-slide-active .txt {top:60px;}
  .visual_wrap .txt_inner {position:static;text-align:center;}
  .visual_wrap .txt .title {font-size:28px;letter-spacing:-0.4px;line-height:33px;}
  .visual_wrap .txt p {margin-top:16px;margin-bottom:32px;font-size:14px;line-height:20px;letter-spacing:-0.26px;}
  .visual_wrap .txt_inner .btn_txt.more {margin-top:32px;font-size:12px;line-height:18px;}
  .visual_wrap .swiper-pagination {bottom:20px;}
}

 /* local menu */
.breadcrumb_wrap {font-size:10px;color:#737373;max-width:1530px;margin:30px auto 50px;}
.breadcrumb_wrap .home {font-size:0;width:16px;height:16px;overflow: hidden;line-height: 999;display: inline-block;margin-top: 5px;vertical-align: top;}
.breadcrumb_wrap .home:after{content:"";clear:both;display:inline-block;background:url(../image/common/ico-home.png) no-repeat 0 0;width:16px;height:16px;}
.breadcrumb_wrap ul {display: inline-block;}
.breadcrumb_wrap li {float: left;font-size:13px;}
.breadcrumb_wrap li a {height:24px;line-height:24px;display: inline-block;}
.breadcrumb_wrap li:last-child a{font-weight:bold;}
.breadcrumb_wrap li:before {font-weight:400;content:"/";clear:both;font-size:10px;display:inline-block;padding:0 6px 0 3px;}
.tit_sub.type_bg + .breadcrumb_wrap {margin-top: 18px;}
.breadcrumb_wrap + .tab_area {margin-top: 16px;}
@media screen and (max-width:1024px) {
  .tit_sub.type_bg + .breadcrumb_wrap {margin-top:17px; padding-bottom:17px; border-bottom:1px solid #e7e7e7;}
  .breadcrumb_wrap + .tab_area {margin-top: 0;}
}
@media screen and (max-width:1600px) { 
  .breadcrumb_wrap {padding:0 15px;}  
}