@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, feldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }

body { color:#343434; font-size:12px; line-height:22px; font-family:"Malgun Gothic", Arial, "dotum"; letter-spacing:-0.5px; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }

ol, ul, li { list-style:none; }
iframe { height: 100%; width: 100%; border-style: none; }
fieldset, img { border:0; }
address, caption, em { font-weight:normal; font-style:normal; }

/* skip 숨김영역 */
#accessibility, .skip, hr, legend, caption { position:absolute; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1; }

/* 태그 */
input { font-family: "Malgun Gothic", "dotum"; color:#343434; vertical-align:middle; border: 1px solid #ccc;  }
textarea { font-family: "Malgun Gothic", "dotum"; color: #343434; border: 1px solid #ccc; }
select { font-family: "Malgun Gothic", "dotum"; font-size: 12px; color: #7c7c7c; border: 1px solid #ccc; vertical-align:middle; }
img { vertical-align:middle; border:0; }

/* 링크 */
a { color:#343434; text-decoration:none; }
a:hover, a:active, a:focus { color:#999; }

.clear { clear:both; }
.left { float:left; }
.right { float:right; }
.f_left { text-align:left; }
.f_right { text-align:right; }
.f_center { text-align:center; }
.f_bold { font-weight:bold; }
.f_mint { color:#00ffff; }
.f_blue { color:#008cd0; }
.f_red { color:#ed145b; }
.f_gray { color:#999; }
.underline { text-decoration:underline; }
.select24 { height:24px; width:100px; }
.dotstyle { list-style:disc; }
.blue_btn { color:#fff; font-size:12px; background-color:#005492; padding:3px 13px 3px 13px; font-weight:normal; }
.blue_btn:hover{ color:#00ffff; }
.red_btn { color:#fff; font-size:12px; background-color:#d94d5e; padding:2px 13px 4px 13px; letter-spacing:0px; }
.red_btn:hover{ color:#ffd8dd; }
.disable_btn { color:#fff; font-size:12px; background-color:#ccc; padding:2px 13px 4px 13px; letter-spacing:0px; }
.sky_btn { color:#fff; font-size:12px; background-color:#008cd0; padding:2px 13px 4px 13px; font-weight:normal; }
.sky_btn:hover{ color:#00ffff; }
.f_11 { font-size:11px; }
.f_12 { font-size:12px; }
.f_14 { font-size:14px; }
.f_view { color:#999; font-size:12px; font-weight:normal; }
.tag { color:#787878; background-color:#cce8f6; padding:2px 5px 3px 5px; }
.v_top { vertical-align:top; }
.web_none { display:none; }
.waiting_btn { color:#0072bc; font-size:12px; background-color:#ccc; padding:2px 13px 4px 13px; font-weight:bold; letter-spacing:0px; }
.process_btn { color:#d94d5e; font-size:12px; background-color:#ccc; padding:2px 13px 4px 13px; font-weight:bold; letter-spacing:0px; }
.standby_btn { color:#129424; font-size:12px; background-color:#ccc; padding:2px 13px 4px 13px; font-weight:bold; letter-spacing:0px; }

#wrap { margin:0 auto; width:100%; }
article { margin:0 0 90px 0; clear:both; }
section { clear:both; }

/* header */
header { width:1000px; height:93px; margin:0 auto; }
header h1 { float:left; margin:27px 0 0 0; }
header .member { font-size:11px; text-align:right; padding:7px 60px 0 0; color:#7c7c7c; height:22px;  }
header nav { float:right; text-align:right; margin:7px 0 0 0; }
header li { display:inline; font-size:15px; margin-left:22px; font-family: "Malgun Gothic";  letter-spacing:-0.5px; }
header li a:hover { color:#008cd0; }
header nav .on { font-weight:bold; color:#008cd0; }

/* 메인 */
#main_sky { height:264px; margin:0 auto; background:url(../images/main_skybg.jpg) top center repeat-x; }
#main_sky .skyIMG { width:1000px; height:264px; margin:0 auto; background:url(../images/main_skyimg.png) top center no-repeat; padding:53px 0 0 30px; }
#main_sky h2 { font-size:35px; margin:0 0 26px 0; font-family:NanumGothic; font-weight:600; color:#2f3e4d;  letter-spacing:0px; }
#main_sky h3 { font-size:14px; margin:0 0 64px 0; font-weight:500; color:#2f3e4d; }
#main_sky h4 { font-size:16px; margin:0 0 0 64px; color:#005492; font-weight:bold; letter-spacing:-0.5px; }
#main_blue { height:154px; background-color:#005492;}
#main_blue .blueTEXT { width:1000px; padding:24px 0 0 33px; color:#fff; font-size:13px; margin:0 auto; }
#main_blue .servicetime { font-size:24px; margin:0 0 17px 0; letter-spacing:0px; }
#main_blue .btn_support { float:right; font-size:15px; padding:12px 25px; border:1px solid #9ecee1; margin:5px 64px 0 0; color:#d0f2ff; }
#main_blue .btn_support:hover { color:#00ffff; border:1px solid #00ffff; }
#main_round { height:230px; margin:0 auto; background:url(../images/main_bluebg.jpg) top center repeat-x; }
#main_round table { width:1000px; margin:0 auto; border-collapse:collapse; text-align:center; border:0; }
#main_round table th { font-size:16px; color:#343434; padding:0 0 5px 0; }
#main_round table td { color:#7c7c7c; line-height:18px; vertical-align:top; }

/* login */
#SUBbody .login_text  table { width:100%; border-collapse:collapse; text-align:center; vertical-align:top; margin-top:-30px; }
#SUBbody .login_text  table td { vertical-align:top; }
#SUBbody .login_text  table .center_vline { border-right:1px solid #dedede; border-left:1px solid #dedede; }
#SUBbody .login_form { border:1px solid #40c2c9; padding:50px 0 35px 0; text-align:center; background-color:#eff3f8; margin:30px 0; }
#SUBbody .login_form table { width:60%; margin:0 auto; }
#SUBbody .login_form table th { font-size:15px; text-align:left; line-height:30px; height:45px; }
#SUBbody .login_form .idpw_input { height:38px; padding:0 3px; width:96%; }
#SUBbody .login_form .login_btn { text-align:center; font-size:14px; color:#fff; background:#7a95b4; padding:34px 24px; }
#SUBbody .login_form .login_saveID { font-size:12px; padding:15px 0 0 0; }
#SUBbody .login_bottommtxt { text-align:center; }

/* sub 공통 */
#MENUbar { width:100%; height:51px; background-color:#005492; }
#MENUbar .sub_navi { width:1000px; margin:0 auto; color:#fff; height:51px; }
#MENUbar .sub_navi a { color:#fff; }
#MENUbar .sub_navi p { float:left; padding:14px 0 0 7px; }
#MENUbar .sub_navi ul { float:right; border-right:1px solid #fff; padding:14px 0 14px 0; }
#MENUbar .sub_navi ul li { float:left; }
#MENUbar .sub_navi ul li a { font-size:14px; border-left:1px solid #fff; padding:16px 30px 17px 30px; }
#MENUbar .sub_navi ul li a:hover { background:#008cd0; }
#MENUbar .sub_navi ul li a.menu_on { background:#008cd0; }
#SUBbody { width:1000px; margin:0 auto; margin-bottom:90px; }
#SUBbody #upper { margin:50px 0 60px 0; }
#SUBbody #upper h3 { font-size:30px; margin:0 0 27px 0; letter-spacing:-1px; }
#SUBbody #upper h4 { font-size:16px; border-bottom:1px solid #dedede; padding:0 0 26px 0; width:680px; }
#SUBbody #upper h5 { font-size:16px; border-bottom:1px solid #dedede; padding:0 0 26px 0; }
#mo_body { padding:5px; }

/* 샘플 다운로드 */
#SUBbody .titext { margin:26px 0 20px 18px; font-size:13px; line-height:24px; }
#SUBbody .dotstyle_tit { list-style:disc; font-size:14px; margin:0 0 8px 0; font-weight:bold; }
#SUBbody .down_subon_01 { text-align:right; color:#008cd0; vertical-align:top; line-height:6px; margin:0 262px 0 0; }
#SUBbody .downbg01 { background:url(../images/down_01.jpg) top right no-repeat; }
#SUBbody .down_01 table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; border-bottom:1px solid #ececec; border-left:1px solid #ececec; border-right:1px solid #ececec; letter-spacing:0px; margin:0 0 50px 0; }
#SUBbody .down_01 th { height:40px; background-color:#ececec; font-size:14px; padding:0 20px; }
#SUBbody .down_01 td { padding:16px; line-height:24px; }
#SUBbody .down_subon_02 { text-align:right; color:#008cd0; vertical-align:top; line-height:6px; margin:0 82px 0 0; }
#SUBbody .downbg02 { background:url(../images/down_02.jpg) top right no-repeat; }
#SUBbody .down_02 table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; border-left:1px solid #ececec; border-right:1px solid #ececec; letter-spacing:0px; margin:0 0 50px 0; }
#SUBbody .down_02 th { height:40px; background-color:#ececec; font-size:14px; text-align:left; padding:0 20px; }
#SUBbody .down_02 td { padding:8px 16px; border-bottom:1px solid #ececec; }
#SUBbody .down_subon_03 { text-align:right; color:#fff; vertical-align:top; line-height:6px; }

/* 라이브데모 */
#SUBbody .demo { margin:0 0 50px 0; }
#SUBbody .demobg { background:url(../images/down_01.jpg) top right no-repeat; }
#SUBbody .demo table { width:100%; border-collapse:collapse; border-left:1px solid #ececec; border-right:1px solid #ececec; letter-spacing:0px; border-bottom:1px solid #ececec; }
#SUBbody .demo th { font-size:18px; color:#acacac; font-weight:normal; line-height:24px; letter-spacing:-0.5px; text-align:left; background-color:#ececec; width:25%; padding:13px 0 15px 20px; border-top:1px solid #40c2c9; border-right:1px solid #fff;}
#SUBbody .demo th .big { font-size:30px; font-weight:bold; }
#SUBbody .demo th .x5 { color:#e44d26; }
#SUBbody .demo th .x { color:#e95171; }
#SUBbody .demo th .fl { color:#d12433; }
#SUBbody .demo th .nx { color:#f2642d; }
#SUBbody .demo th .pro { color:#008ace; }
#SUBbody .demo th .net { color:#00b1aa; }
#SUBbody .demo th .nj { color:#92278f; }
#SUBbody .demo th .proex { color:#ef4036; }
#SUBbody .demo th .netex { color:#00a3b0; }
#SUBbody .demo th a { color:#acacac; }
#SUBbody .demo td { padding:15px 0 50px 20px; vertical-align:top; border-right:1px solid #ececec; }
#SUBbody .demo td a { color:#7c7c7c; }
#SUBbody .demo td a:hover { color:#999; }
#SUBbody .demo_dext { margin:0 0 50px 0; }
#SUBbody .demo_dext p { font-size:14px; padding:0 0 9px 3px; font-weight:bold; }
#SUBbody .demo_dext table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; border-left:1px solid #ececec; letter-spacing:0px; }
#SUBbody .demo_dext td { width:50%; height:50px; border-right:1px solid #ececec; border-bottom:1px solid #ececec; padding:0 0 0 20px; background:url(../images/demo_02.jpg) right no-repeat; }

/* 기술문서 */
#SUBbody .searchbg { background:url(../images/search_01.jpg) top right no-repeat; }
#SUBbody .tech_search .list_tit { font-size:15px; font-weight:bold; padding:0 0 8px 12px; }
#SUBbody .tech_search table { width:100%; border-collapse:collapse; letter-spacing:0px; }
#SUBbody .search_list { border:1px solid #40c2c9; padding:12px; line-height:28px; vertical-align:top; }
#SUBbody .search_list_ON { font-weight:bold; color:#40c2c9; }
#SUBbody .search_con { vertical-align:top; }
#SUBbody .search_con table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; letter-spacing:0px; margin:0 0 20px 0; }
#SUBbody .search_con th { height:40px; background-color:#ececec; font-size:14px; padding:0 15px; }
#SUBbody .search_con td { padding:10px 15px 10px 15px; }
#SUBbody .search_con td li { margin:0 0 6px 0; }
#SUBbody .paging { text-align:center; padding:30px 0 0 0; border-top:1px solid #e3e3e3; }
#SUBbody .paging li { display:inline;  }
#SUBbody .paging li a { color:#7c7c7c; border:1px solid #e3e3e3; padding:5px 9px; margin:0 1px; }
#SUBbody .paging li .p_on { font-weight:bold; border:2px solid #40c2c9; }

/* 검색 */
#SUBbody .search { width:100%; background:#ececec; text-align:center; padding:28px 0 ; }
#SUBbody .search input { height:30px; width:400px; border:1px solid #7c7c7c; padding:0 0 0 7px; }
#SUBbody .search .btn_search { color:#fff; padding:6px 40px 10px 40px; background:#7c7c7c; margin:10px 0 0 0; }

/* 온라인 기술문의 */
#SUBbody .online_subon_01 { text-align:right; color:#008cd0; vertical-align:top; line-height:6px; margin:0 265px 0 0; }
#SUBbody .onlinebg_01 { background:url(../images/online_01.jpg) top right no-repeat; }
#SUBbody .online_subon_02 { text-align:right; color:#008cd0; vertical-align:top; line-height:6px; margin:0 89px 0 0; }
#SUBbody .onlinebg_02 { background:url(../images/online_02.jpg) top right no-repeat; }
#SUBbody .online table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; letter-spacing:0px; text-align:center; }
#SUBbody .online th { height:40px; background-color:#ececec; }
#SUBbody .online td { padding:8px 0; border-bottom:1px solid #ececec; }
#SUBbody #Writeform { margin:50px 0 0 0; height:50px; }
#SUBbody #Writeform h3 { font-size:30px; letter-spacing:-1px; }
#SUBbody .on_write table { width:100%; border-collapse:collapse; border-top:1px solid #40c2c9; letter-spacing:0px; }
#SUBbody .on_write th { width:20%; padding:8px 0; border-bottom:1px solid #ececec; background-color:#f2f2f2; }
#SUBbody .on_write td { width:80%; padding:8px 0 8px 10px; border-bottom:1px solid #ececec;  }
#SUBbody .on_write .write_input { height:24px; padding:0 3px; width:80%; }
#SUBbody .on_write .write_select { height:24px; padding:0 3px; }
#SUBbody .on_write .write_textarea { padding:5px; width:95%; }
#SUBbody .btnarea { text-align:center; margin:50px 0; }
#SUBbody .btn_ok { font-size:15px; color:#fff; background-color:#005492; padding:10px 40px 10px 40px; }
#SUBbody .btn_no { font-size:15px; color:#fff; background-color:#999; padding:10px 40px 10px 40px; }

/* footer */
footer { width:100%; border-top:1px solid #c8cdce; border-bottom:12px solid #c8cdce; clear:both; letter-spacing:0px; color:#7c7c7c; }
#footer_TEXT { width:1000px; margin:0 auto; padding:30px 0 50px 0; }
#footer_TEXT .footer_logo { width:167px; float:left;  }
#footer_TEXT .footer_address { float:left;  line-height:16px; margin:5px 0 0 0; font-size:11px; }
#footer_TEXT .footer_link { margin:0 0 13px 0; }
#footer_TEXT .footer_DEXT { font-weight:bold; color:#005492; font-size:14px; }
#footer_TEXT .footer_partners { float:right; }

/* popup */
#popup { width:100%; margin:0 auto; background:#dcdfe6; margin-bottom:20px; letter-spacing:0px; }
#popup h1 { background:#005492; color:#fff; text-align:center; font-size:16px; padding:15px 0 15px 0; border-top:4px solid #aadaed; }
#popup #bodybg { background:#fff; border:1px solid #d3d7e2; margin:0 25px 10px 25px; padding:30px; }
#popup #bodybg .con_tit { font-size:14px; font-weight:bold; color:#008cd0; margin:0 0 8px 0; }
#popup #bodybg .dotline { border-bottom:1px dashed #999; height:1px; margin:30px 0; }
#popup #bodybg .source_tt { margin:20px 0 5px 0; color:#008cd0; }
#popup #bodybg .opensource { margin:0 0 0 10px; }
#popup #bodybg .howto4 { width:100%; text-align:center; border-collapse:collapse; border:1px solid #ececec; margin:10px 0 30px 0; }
#popup #bodybg .howto4 th { padding:15px 0 0 0; border-right:1px solid #ececec; } 
#popup #bodybg .howto4 td { padding:0 0 15px 0; border-right:1px solid #ececec; vertical-align:top; color:#545454; line-height:20px; } 
#popup #bodybg .license { width:100%; border-collapse:collapse; border:1px solid #dcdfe6; margin:10px 0 30px 0; }
#popup #bodybg .license th { width:25%; text-align:left; background:#f7f7f7; padding:5px; border-bottom:1px solid #dcdfe6; }
#popup #bodybg .license td { width:75%; text-align:left; padding:5px; border-bottom:1px solid #dcdfe6; line-height:20px; }

#productname { width:100%; border-collapse:collapse; }
#productname th { width:27%; text-align:left; font-weight:normal; vertical-align:top; border:1px solid #dcdfe6; padding:10px; background:#fafafa; }
#productname th dd { padding:0 0 0 8px; line-height:20px; }
#productname th .product_list { padding:0 0 30px 0; }
#productname th .DEXT_tit { font-size:14px; font-weight:bold; color:#008cd0; margin:0 0 4px 0; }
#productname th a.list_on { color:#ed145b; }
#productname td { width:73%; vertical-align:top; padding:0 0 0 25px; }
#productname td .exp_dt { font-size:15px; font-weight:bold; color:#343434; margin:0 0 10px 0; }
#productname td .exp_dd { border:1px solid #ececec; padding:8px; color:#545454; margin:0 0 40px 0; }
#productname td .exp_dd .inside { padding:0 0 0 10px; }
#productname td .exp_dd .inside2 { padding:0 0 0 20px; }

#productname2 { width:100%; border-collapse:collapse; }
#productname2 th { width:27%; text-align:left; font-weight:normal; vertical-align:top; border:1px solid #dcdfe6; padding:10px; background:#fafafa; }
#productname2 th dd { padding:0 0 0 8px; line-height:20px; }
#productname2 th .product_list { padding:0 0 30px 0; }
#productname2 th .DEXT_tit { font-size:14px; font-weight:bold; color:#008cd0; margin:0 0 4px 0; }
#productname2 th a.list_on { color:#ed145b; }
#productname2 td { width:73%; vertical-align:top; padding:0 0 0 25px; }
#productname2 td .exp_dt { font-size:15px; font-weight:bold; color:#343434; margin:0 0 10px 0; }
#productname2 td .exp_dd { border:1px solid #ececec; padding:8px; color:#545454; margin:0 0 40px 0; }
#productname2 td .exp_dd .inside { padding:0 0 0 10px; }
#productname2 td .exp_dd .inside2 { padding:0 0 0 20px; }

#popup .p_close { background:#fff; border:1px solid #d3d7e2; text-align:center; padding:5px 10px; }
.empty10 { height:10px; }
.empty20 { height:20px; }
.empty30 { height:30px; }












































