
@charset "UTF-8";

/*  ---------------------
        commonm
 --------------------- */
body {font-size: 18px; line-height: 1.3;}
h3 {font-size:24px;font-weight: 700;margin-bottom:20px;}
.page_navi {margin-top:60px;}
.form_wrap {margin-top:50px;}
.bbs_list th, .bbs_list td {font-size:18px}
.bbs_list td {font-weight: 500;}
select, input {font-size:18px;}
.pdt_list {max-width: 1530px;margin:0 auto;}
.pdt_list .inner .item_list { width:102%; overflow: hidden;margin-left:-30px;margin-top:20px;}
.pdt_list .inner .item_list li { width:20%; padding-left:30px; margin-bottom:60px; float: left;min-height:365px;}
.pdt_list .inner .item_list li a {display: block;}
.pdt_list .inner .item_list li .img { display:block; position:relative; }

.pdt_list .item_info {}
.pdt_list .item_info .title {font-size:20px;font-weight: 700;margin-top:20px;display: block;}
.pdt_list .item_info .desc {font-size :16px;margin-top:10px;display: block;}

.choice-option {overflow: hidden;}
.choice-option .result {float: left;font-size:24px;line-height: 50px;}
.choice-option .result strong {color:#03a2ea;}
.choice-option .selectbox {float:right;overflow: hidden;}
.choice-option .selectbox select {float: left;margin-left:12px;width:180px;}
.choice-option .selectbox select:first-child {margin-left: 0;}





/* product detail */
.pdt_info_wrap {position:relative; margin-top:60px;display:table;width:100%;}
.pdt_info_wrap:after {display:block; visibility:hidden; height:0; clear:both; content:'';}
.pdt_info_wrap .photo_inner {position:relative; width:50%;max-width:797px;display: table-cell;vertical-align: top;}
.pdt_info_wrap .photo_inner .photo_box {height:550px;overflow: hidden;}
.pdt_info_wrap .photo_inner .photo_box .swiper-slide  {width:797px;}
.pdt_info_wrap .photo_inner .photo_box img {width:100%;}
.pdt_thumbs {margin-top:30px;padding:0 60px;position: relative;}
.pdt_thumbs .swiper-slide {vertical-align: middle;height:100px;}
.pdt_thumbs .swiper-slide img {width:100px;position: absolute;top: 50%; transform: translateY(-50%);}


.pdt_detail  {padding-left:30px;display: table-cell;vertical-align: top;}
.pdt_detail .form_wrap {margin:0;padding:0;border:0;}
.pdt_detail .desc {font-size:14px;width:100%;}
.pdt_detail .pdt_head {padding:13px 30px 20px;margin-bottom:30px;border-bottom:2px solid #000;}
.pdt_detail .pdt_head .pdt_code {font-size:12px;font-weight: 700;}
.pdt_detail .pdt_head .pdt_name {font-size:20px;margin-top:30px;padding: 0;}
.pdt_detail .pdt_head .desc {color:#777;margin-top:12px;}


.pdt_detail .pdt_price .form_item .form_inp em {color:#666;font-style: normal}
.pdt_detail .pdt_price .price01 strong {font-weight: 700;color:#ed6c16;}
.pdt_detail .pdt_price .price02 strong {font-weight: 700;color:#03a2ea;}
.pdt_detail .pdt_price .price02 dd {font-weight: 400;color:#03a2ea;}

.pdt_detail .pdt_item {border-bottom:1px solid #e7e7e7;border-top:1px solid #e7e7e7;padding-top:40px;padding-bottom:18px;margin-bottom:40px;margin-top:20px;}
.pdt_detail .file_box {position: relative;padding-right: 32%;}
.pdt_detail .file_box > .btn {position: absolute;right:0;top:0;width:30%;}



.pdt_detail .form_wrap .form_group .form_item {padding-left:112px;position: relative;margin-bottom:20px;}
.pdt_detail .form_wrap .form_group .form_item .form_name {position:absolute;top:0;left:0;font-size:18px;width:112px;line-height:44px;font-weight: 700;padding:0}
.pdt_detail .form_wrap .form_group .form_item .form_inp {width:100%;font-size:18px;line-height: 44px;display: block;overflow: hidden;}
.pdt_detail .form_wrap .form_group .form_item .form_inp select + select{margin-top:20px;}
.pdt_detail .form_wrap .form_group .form_item .form_inp label::before {top:5px;}
.pdt_detail .form_wrap .form_group .form_item .form_inp label + .inp, .pdt_detail .form_wrap .form_group .form_item .form_inp label + .sel_opt{margin-top:8px;}
.pdt_detail .form_wrap .form_group .form_item .form_inp + .form_inp{margin-top:10px;}
.pdt_detail .sel_opt, .pdt_detail .inp {color:#444;}
.pdt_detail textarea{height:120px;}
.pdt_detail .form_item .desc {color:#999;line-height: 1.1;margin-top:10px;}

.pdt_detail .price {width:100%;text-align: right;margin-top:13px;}
.pdt_detail .price strong {font-weight:700;color:#ed6c16;display: inline-block;}
.pdt_detail .price.total {font-weight:500;padding:35px 30px;margin:0;}
.pdt_detail .price strong {font-weight:700;color:#ed6c16;padding-left:37px;}
.pdt_detail .btn_wrap {margin-top:0;width:100%;display: table;}
.pdt_detail .btn_wrap span {display: table-cell;width:33.333%;padding-left:12px;}
.pdt_detail .btn_wrap span:first-child {padding-left:0;}
.pdt_detail .btn_wrap span .btn {width:100% !important;margin:0;}
.pdt_detail .form_wrap .form_group .form_item.opt_default {margin-bottom:40px;}

.ease_cart {background-color:#f3f4f6; margin-top:20px;border-top:2px solid #000;}
.ease_cart .item {border-bottom:1px solid #fff;padding:40px 30px 25px;}
.ease_cart ul {position: relative; display:table; width: 100%;}
.ease_cart ul li {display:table-cell;vertical-align: top;width:50%;}
.ease_cart ul li:last-child {padding-left:23px;width:300px;}
.ease_cart ul dt {position:absolute;top:0;left:0;width:112px;line-height:44px;font-weight: 700;padding:0}
.ease_cart ul dl {width:100%;padding-left:112px;position: relative;margin-top:20px;}
.ease_cart ul dl:first-child{margin-top:0;}
.ease_cart ul dt {position:absolute;top:0;left:0;width:112px;line-height:1.3;font-weight: 700;padding:0}
.ease_cart ul dd {vertical-align: top;color:#777;widtH:100%;}
.ease_cart .opt_ea {position: relative;padding-right:75px;}
.ease_cart .opt_ea .btn_delete {width:65px;position: absolute;top:0;right:0;font-weight: 400;}

.pdt_detail .file_inp_box {padding-right:32%;position: relative;width:100%;background: #fff;}
.pdt_detail .file_inp_box .btn {width:30%;position:absolute;top:0;right:0;top:0;}
.pdt_detail .file_inp_box .file_name {width: 100%;}


/* 상세설명 */
.pdt_tab_wrap {margin-top:100px;}
.pdt_tab_wrap .item {padding-top:60px;}
.pdt_tab_wrap .accor_wrap {margin-top:60px;}
.pdt_tab_wrap .accor_wrap .accor_item {}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title {height:initial;line-height: initial;position: relative;padding:0 11.11%;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title a {height:initial;line-height: initial;padding:17px  0;color:#333;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .writer span {display: inline-block;font-weight:700;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .writer .id::before {display: inline-block;width:1px;height:16px;content: "";clear: both;background: #999;margin:0 25px;vertical-align: middle;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .sjt {margin-top:10px;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .num {position: absolute;top:40px;left:30px;width:40px;text-align: center;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .status {position: absolute;top:40px;right:30px;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .status.waiting {color:#999;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_title .status.finish {color:#03a2ea;}

.pdt_tab_wrap .accor_wrap .accor_item .accor_con {padding: 40px 11.11%;height: initial;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl {margin-top:35px;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl:first-child {margin-top:0;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl dt {font-weight: 700;width:100%;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl dd {width:100%; margin-top:20px;line-height: 1.5;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl.txt_que dt{display: block;color:#03a2ea;}
.pdt_tab_wrap .accor_wrap .accor_item .accor_con dl.txt_ans dt{display: block;color:#999;}

.form_wrap.review_wt .form_group {padding-right:140px;position: relative;}
.form_wrap.review_wt .form_group .form_inp {width:100%;}
.form_wrap.review_wt .form_group .btn_wrap {margin:0; width:130px;height:130px;position: absolute;top:0;right:0;}
.form_wrap.review_wt .form_group .btn_wrap .btn {margin:0; width:130px;height:100px;line-height: 1.5;}

.form_wrap.review_wt { height: inherit; margin-top: 0; padding: 40px 11.11%; background: #f3f4f6; box-sizing: border-box; }
.form_wrap.review_wt textarea { height: 100px;}

.form_wrap.review_wt .file_box {display: inline-block;overflow: hidden;margin-top:20px;}
.form_wrap.review_wt .file_inp_box {padding:0;float:left;width:127px;}
.form_wrap.review_wt .desc {float:left;line-height: 44px;color:#999;padding-left:20px;}
.form_wrap.review_wt .file_inp_box .btn {width:127px;color:#03a2ea;border:1px solid #03a2ea;position: relative;background: #fff;}

/* 다른 고객이 함께 본 상품 */
.pdt_other_wrap {position: relative;margin-top:100px;}
.pdt_other {padding: 40px 0 0;overflow: hidden;border-top:3px solid #000;}
.pdt_other .swiper-wrapper {}
.pdt_other .swiper-slide {width:230px;}
.pdt_other .swiper-button-prev.mid  {top:70px; left:0;}
.pdt_other .swiper-button-next.mid {top:70px;right:0;}
.pdt_other .item_info {font-size: 20px;margin-top:20px;display: block;color:#444;}
.pdt_other .item_info p {margin-top:20px;margin-top:10px;}



.userguide_wrap .bbs_list {margin-top:80px;}
.userguide_wrap .bbs_list td.subject {text-align: center;}


/* 장바구니 */
.cart_wrap .step_wrap .step_item:first-child {margin-left: 0; padding-left: 0;}
.cart_wrap .step_wrap .step_item .ico_step {display: table-cell; width: 56px; height: 56px; background-image: url('../../assets/image/mall/product/ico-step-cart.png');}


.cart_wrap .bbs_list .pdt_chk {width:145px;text-align: left;padding-left:30px;}
.cart_wrap .pdt_name .inner {display: table;}
.cart_wrap .pdt_name a {display: table-cell;}
.cart_wrap .pdt_name a .img {display: inline-block;width:250px;height:172px;overflow: hidden;}
.cart_wrap .pdt_name .item_info {display: table-cell;vertical-align:middle;text-align:left;padding-left:30px;font-weight:500;}
.cart_wrap .pdt_name .item_info .title {}
.cart_wrap .pdt_name .item_info ul {margin-top:30px;}
.cart_wrap .pdt_name .item_info li {color:#999;}
.cart_wrap .bbs_list td{vertical-align:middle;padding:20px;}
.cart_wrap .bbs_list .ship_fee {color:#999;font-weight:400;}
.cart_wrap .bbs_list .ship_fee p{color:#222;}
.cart_wrap .spinner {max-width:185px;}

.cart_wrap .cart_chk_del {margin-top:30px;position: relative;height:44px;}
.cart_wrap .cart_chk_del .inp_chk_del {position: absolute;top:0;right:0;font-weight:400}

.cart_wrap .cart_total {margin-top:60px;}
.cart_wrap .cart_total .inner {border-top:2px solid #000;background:#f3f4f6;padding:45px 30px;position: relative;}
.cart_wrap .cart_total .box {display: inline-block;}
.cart_wrap .cart_total .math {display: inline-block;padding:0 100px;}
.cart_wrap .cart_total .box.total {position: absolute;right:30px;top:45px;width:330px;text-align: right;}
.cart_wrap .cart_total .box.total .price {color:#ed6c16}
.cart_wrap .cart_total .label {font-size:16px;font-weight: 500;padding-right:65px;}
.cart_wrap .cart_total .price {font-size:16px;font-weight: 400;}
.cart_wrap .cart_total .price strong {font-size:24px;font-weight: 700;}

.cart_wrap .pdt_non {padding:30px}
.cart_wrap .pdt_non p strong{color:#03a2ea;font-weight: 700;}
.cart_wrap .pdt_non p.tit{font-size:24px;margin-bottom:30px;font-weight: 400;}
.cart_wrap .pdt_non .btn_wrap {margin-top:34px;}


/* 주문/결제 */
.cart_wrap .form_wrap {margin-top:0;border-bottom: 1px solid #e7e7e7;}
.cart_wrap h3 {margin-top:50px;}
.cart_wrap h3:first-child {margin-top:0;}
.cart_wrap .form_item .form_name {padding-top:0;}

.cart_wrap textarea {height:100px;}