@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #000;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: 'notokr';
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
  font-weight: bold;
  color: inherit;
}
button {
  padding: 0;
  border: 0;
  background: none;
  font-family: 'notokr'; font-size: 14px; font-weight: bold;
  color: #000; text-align: left;
  cursor: pointer;
}
/* common */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;left: 0;
  width: 1px; height: 1px;
  font-size: 0; line-height: 0;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* font */

@font-face {font-family:'notokr'; font-weight:700; font-style:normal; src:url('../font/notokr-bold.eot'); src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('./font/notokr-bold.woff2') format('woff2'),
    url('./font/notokr-bold.woff') format('woff'),
    url('./font/notokr-bold.ttf') format('truetype'),
    url('./font/notokr-bold.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:500; font-style:normal; src:url('./font/notokr-medium.eot'); src:url('./font/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('./font/notokr-medium.woff2') format('woff2'),
    url('./font/notokr-medium.woff') format('woff'),
    url('./font/notokr-medium.ttf') format('truetype'),
    url('./font/notokr-medium.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:400; font-style:normal; src:url('./font/notokr-regular.eot'); src:url('./font/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('./font/notokr-regular.woff2') format('woff2'),
    url('./font/notokr-regular.woff') format('woff'),
    url('./font/notokr-regular.ttf') format('truetype'),
    url('./font/notokr-regular.svg#notokr-regular') format('svg');}
    

/* dim layer */
.dim {
  display: none;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* text point color */
.txt_point1 {
  color: #03a2ea;
}

/* header mall type */
#header.open {
  position: relative;
  z-index: 20;
}
#header .header_top {
  height: 70px;
  margin: 0 auto; padding: 15px 10.15%;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  box-sizing: border-box;
}
.header_top .logo {
  float: left;
}
.header_top .my_menu {
  float: right;
  margin-top: 11px;
}
.header_top .my_menu > li {
  position: relative;
  float: left;
  padding: 0 10px;
}
.header_top .my_menu > li::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1px; height: 85%;
  background: #bbb;
}
.header_top .my_menu > li:first-child::before {
  display: none;
}

#header .header_mid {
  position: relative;
  height: 57px;
  padding: 0 10.15%;
  background: #03a2ea;
  box-sizing: border-box;
}
.header_mid .direct_box {
  position: absolute;
  left: 10.15%; top: 0;
  width: 11.2%; height: 100%;
  background: #fff;
  transition: width .4s linear;
  z-index: 5;
}
.header_mid .direct_box .btn_direct {
  width: 100%; height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}
.header_mid .direct_box .direct_gnb {
  display: inline-block;
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}
.header_mid .direct_box .direct_gnb > li {
  float: left;
  margin-left: 100px;
}
.header_mid .direct_box .direct_gnb > li:first-child {
  margin-left: 0;
}
.header_mid .direct_box .direct_gnb > li > a {
  font-size: 20px;
}
.header_mid .direct_box .direct_gnb.on {
  opacity: 1;
  visibility: visible;
}
.header_mid .direct_box .btn_direct_close {
  display: none;
  position: absolute;
  right: 0; top: 50%;
  transform: translateY(-50%);
}
.header_mid .direct_box.open {
  width: 79.7%;
}
.header_mid .direct_box.open .btn_direct {
  display: none;
}
.header_mid .direct_box.open .btn_direct_close {
  display: block;
}
.header_mid .gnb {
  margin-left: 19.93%; padding-top: 20px;
  box-sizing: border-box;
}
.header_mid .gnb > li {
  float: left;
  margin-left: 2.6%;
}
.header_mid .gnb > li:first-child {
  margin-left: 0;
}
.header_mid .gnb > li a {
  font-size: 17px;
  color: #fff;
}
.header_mid .sch_box {
  position: absolute;
  right: 10.15%; top: 18px;
}
.header_mid .sch_box .btn_sch {
  width: 21px; height: 21px;
  background: url('./img/ico-sch.png') no-repeat center;
}
.header_mid .sub_gnb {
  display: none;
  position: absolute;
  left: 0; top: 57px;
  width: 100%; height: 230px;
  padding: 40px 10.15%;
  box-sizing: border-box;
  z-index: 5;
}
.header_mid .sub_gnb h2 {
  float: left;
  width: 18.3%;
  font-size: 24px; font-weight: bold;
  color: #fff;
}
.header_mid .sub_gnb .link_list {
  float: left;
}
.header_mid .sub_gnb .link_list > li {
  margin-top: 16px;
}
.header_mid .sub_gnb .link_list > li:first-child {
  margin-top: 0;
}
.header_mid .sub_gnb .link_list > li > a {
  font-size: 16px;
  color: #fff;
}
.header_mid .sub_gnb .banner_list {
  float: right;
  overflow: hidden;
}
.header_mid .sub_gnb .banner_list > li {
  float: left;
  margin-left: 20px;
}
.header_mid .sub_gnb .banner_list > li:first-child {
  margin-left: 0;
}

.header_bg {
  display: none;
  position: absolute;
  left: 0; top: 127px;
  width: 100%; height: 230px;
  padding: 40px 10.15%;
  background: rgba(3, 162, 234, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

/* modal popup */
.popup_wrap {
  display: none;
  position: absolute;
  left: 50%; top: 50%;
  width: 500px; height: 500px;
  transform: translate(-50%, -50%);
  padding: 100px;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 20;
}
.popup_wrap .btn_popupclose {
  position: absolute;
  right: 0; top: 0;
  width: 20px; height: 20px;
  border: 1px solid red;
}
.popup_wrap.open {
  display: block;
}
