@charset "UTF-8";

/*  ---------------------
        reset
 --------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  vertical-align: baseline;
  color: #000;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'notokr';
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table caption {
  font-size:0;
}
form legend {
  font-size:0;
}
img {
  vertical-align: middle;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
i {
  font-style:normal;
}
select, input {
  margin:0; padding:0;
  box-sizing:border-box;
}

/*  ---------------------
        font
 --------------------- */

@font-face {font-family:'notokr'; font-weight:700; font-style:normal; src:url('../font/notokr-bold.eot'); src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-bold.woff2') format('woff2'),
    url('../font/notokr-bold.woff') format('woff'),
    url('../font/notokr-bold.ttf') format('truetype'),
    url('../font/notokr-bold.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:500; font-style:normal; src:url('../font/notokr-medium.eot'); src:url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
  url('../font/notokr-medium.woff2') format('woff2'),
  url('../font/notokr-medium.woff') format('woff'),
  url('../font/notokr-medium.ttf') format('truetype'),
  url('../font/notokr-medium.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:400; font-style:normal; src:url('../font/notokr-regular.eot'); src:url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-regular.woff2') format('woff2'),
    url('../font/notokr-regular.woff') format('woff'),
    url('../font/notokr-regular.ttf') format('truetype'),
    url('../font/notokr-regular.svg#notokr-regular') format('svg');}




/*  ---------------------
        common
 --------------------- */

/* button */
.btn_wrap {
  overflow:hidden;
}  
.btn_wrap .btn {
  padding:0 10px;
  height:30px;
  line-height:30px;
}
.btn_wrap.col2 .btn:first-child {
  margin-right:5px;
}
.btn_wrap.col2 .btn {
  float:left;
  width:calc(50% - 2.5px);
}
.btn {
  display:inline-block;
  box-sizing: border-box;
  border:none;
  color:#fff;
  text-align:center;   
}
.btn.btn_type01 {
  background:#617d46;    
}
.btn.btn_type02 {
  background:#ff3061;
}
.btn.btn_type03 {
  background:#f0f0f0;
  border:1px solid #f0f0f0;
}
.btn.btn_type04 {
  background:#222;
}
.btn span {
  color:#fff;
  font-size:15px;
  font-weight:700;
}
.btn.btn_type03 span {
  color:#0c0c0c;
}

/* table */ 
.tbl {
  margin-top:10px;
  width:100%;
}
.tbl th {
  line-height:24px;
}
.tbl_type01 {
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
}
.tbl_type01 th {
  background:#e5ecef;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;  
  vertical-align: middle;  
}
.tbl_type01 thead tr:last-child th {
  border-bottom:1px solid #ddd;
}
.tbl_type01 td {
  padding:0 10px;
  line-height:20px;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  vertical-align: middle;
}
.tbl_type02 th {
  padding:5px 10px;
  box-sizing: border-box;
  border-bottom:1px solid #ddd;
  text-align:left;
  vertical-align: middle;
}
.tbl_type02 td {
  padding:5px 10px;
  border-bottom:1px solid #ddd;
  vertical-align: middle;
}
.cell_center {
  text-align:center;
}
.cell_left {
  text-align:left;
}
.tbl_wrap {
  margin-top:10px;
}
.tbl_info {
  margin-top:10px;
}
.tbl_wrap .btn_right {
  overflow: hidden;
}
.tbl_wrap .btn_right .btn {
  float:right;
}

.tbl_search {
  margin-top:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.tbl_search .search_num {
  padding:0 10px;
  line-height:24px;
  background:#e5ecef;
}
.tbl_search .search_num strong:after {
  content:'';
  display:inline-block;
  width:1px; height:10px;
  background:#d5d6d7;
  margin:0 10px;
  vertical-align: middle;
}
.tbl_search form {
  padding:10px;
}
.tbl_search form select, 
.tbl_search form input {
  height:20px;
  border:1px solid #d5d6d7;
  line-height:20px;
  vertical-align: middle;
}
.tbl_search .btn_wrap {    
  display:inline-block;
  vertical-align: middle;
}
.tbl_search .btn_wrap .btn {
  height:20px;
  line-height:20px;
}
.tbl_search .btn_wrap .btn span {
  font-size:12px;
  font-weight:normal;
}

/* input */

input {
  width: 100%; height: 24px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  box-sizing: border-box;
}




























/*  ---------------------
        common
 --------------------- */





