@charset "UTF-8";

/*  ---------------------
        reset
 --------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  vertical-align: baseline;
  color: #000;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {font-family: 'Noto Sans KR'; font-size: 14px; line-height: 1; font-weight: 400;}
a {text-decoration: none; color: #000;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {vertical-align: middle;}
b {font-weight: bold;}
strong {font-weight: bold;}
button {
  padding: 0;
  border: 0;
  background: none;
  font-family: 'notokr'; font-size: 14px; font-weight: bold;
  color: #000; text-align: left;
  cursor: pointer;
}

/*  ---------------------
        font
 --------------------- */

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
        url(../font/NotoSansKR-Regular.woff) format('woff'),

 
        url(../font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
        url(../font/NotoSansKR-Medium.woff) format('woff'),
        url(../font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
        url(../font/NotoSansKR-Bold.woff) format('woff'),

 
        url(../font/NotoSansKR-Bold.otf) format('opentype');
 }




/*  ---------------------
        common
 --------------------- */
 /* layout */
#wrap {}
.layout_width {width:1530px;margin:0 auto;}
.layout_full {width:100%;}
.pc {position: block;}
.mo {display: none;}
.dim {display: none; position: absolute; left: 0; top:0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 10;}
.swiper-button-next {background-image:url(../image/common/next.png); right:20px; left:auto; width:84px; height:84px; background-size:84px;}
.swiper-button-prev {background-image:url(../image/common/prev.png); left:20px; right:auto; width:84px; height:84px; background-size:84px;}
.swiper-button-next.small {background-image:url(../image/common/next-small.png); right:0; left:auto; width:21px; height:18px; background-size:21px;}
.swiper-button-prev.small {background-image:url(../image/common/prev-small.png); left:0; right:auto; width:21px; height:18px; background-size:21px;}


@media screen and (max-width: 1024px) {
  .swiper-button-next {background-image:url(../image/common/next_mo.svg); right:20px; left:auto; width:21px; height:18px; background-size:21px;}
  .swiper-button-prev {background-image:url(../image/common/prev_mo.svg); left:20px; right:auto; width:21px; height:18px; background-size:21px;}
}



 /* headings */
h2 {font-weight: 700;font-size: 18px;}

 /* global */
.blind, legend {overflow: hidden; position: absolute; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
.clearfix::after {content: ''; display: table; clear: both}

/* color */
.point_blue {color: #03a2ea;}

/* icon */
.point_marker {position: relative; padding-left: 20px}
.point_marker::before {content: ''; position: absolute; left: 0; top: 50%; width: 14px; height: 18px; background: url('../image/common/ico_marker.png') no-repeat; transform: translateY(-50%); }
.point_marker.black::before {background-position: 0 -18px;}
[class*="on"] .point_marker.black::before {background-position: 0 -36px;}

/*  ---------------------
        header
 --------------------- */
#header {background: #fff;}
.header_wrap {position: relative;}
.lnb_wrap {height: 70px; width: 1530px; margin: 0 auto; overflow: hidden;}
.lnb_wrap .logo {float: left; width: 215px; height: 40px; margin-top: 16px;}
.lnb_wrap .lnb {float: right; margin-top: 25px;}
.lnb_wrap .lnb > li {position: relative; float: left; margin-left: 12px; padding-left: 12px;}
.lnb_wrap .lnb > li::before {content: ''; position: absolute; left: 0; top: 1px; width: 1px; height: 10px; background: #bbb;}
.lnb_wrap .lnb > li:first-child {margin-left: 0; padding-left: 0;}
.lnb_wrap .lnb > li:first-child::before {display: none;}

.gnb_wrap {height: 57px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; box-sizing: border-box;}
.gnb_wrap .inner {position: relative; width: 1530px; height: 57px; margin: 0 auto;}
.company .toggle_item {color: #fff; background: #03a2ea;}
.gnb_wrap .toggle_item {position: absolute; left: 0; top: 0; width: 215px; height: 100%; transition: width .4s linear; z-index: 10;}
.gnb_wrap .toggle_item.active {width: 100%;}
.gnb_wrap .toggle_item .btn_toggle {position: absolute; right: 0; top: 0; width: 215px; height: 100%; padding-left: 20px;}
.company .toggle_item .btn_toggle > span {font-size: 16px; color: #fff;}
.company .toggle_item .btn_toggle .ico_close {float: right; width: 8px; height: 14px; margin-right: 18px; background: url('../image/common/arr_right.png') no-repeat;}
.gnb_wrap .toggle_item .btn_toggle.on {width: 50px; padding: 0;}
.gnb_wrap .toggle_item .btn_toggle.on > span:not(.ico_close) {display: none;}
.gnb_wrap .toggle_item .btn_toggle.on .ico_close {width: 14px; background: url('../image/common/ico_close.png') no-repeat 0 0;}
.gnb_wrap .toggle_item .toggle_gnb {opacity: 0; visibility: hidden; display: inline-block; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: opacity .4s;}
.gnb_wrap .toggle_item .toggle_gnb > li {float: left; margin-left: 46px;}
.gnb_wrap .toggle_item .toggle_gnb > li:first-child {margin-left: 0;}
.gnb_wrap .toggle_item .toggle_gnb > li > a {font-size: 18px; color: #fff;}
.gnb_wrap .toggle_item .toggle_gnb.on {opacity: 1; visibility: visible;}

.gnb_wrap .gnb_item {position: relative; float: left; margin: 18px 0 0 375px;}
.gnb_wrap .gnb_item .link_item {float: left; margin-left: 110px;}
.gnb_wrap .gnb_item .link_item:first-child {float: left; margin-left: 0;}
.gnb_wrap .gnb_item .link_item a {font-size: 20px;}
.gnb_wrap .gnb_item .link_item.on a {color: #03a2ea;}
.gnb_wrap .gnb_item .gnb_bar {opacity: 0; position: absolute; left: 0; bottom: -17px; width: 0; height: 3px; background: #03a2ea; transition: transform .4s, left .4s linear; transform: scale(0);}
.gnb_wrap .gnb_item .gnb_bar.active {opacity: 1; transform: scale(1);}
.gnb_wrap .search_item {position: relative; top: 50%; transform: translateY(-50%); float: right;}
.gnb_wrap .search_item .btn_sch {width: 24px; height: 24px; background: url('../image/common/ico_search.png') no-repeat;}
.gnb_wrap .search_item .btn_sch.black {background-position: 0 -21px;}

.sub_gnb_wrap {display: none; position: absolute; left: 0; top: 127px; width: 100%; z-index: 10;}
.sub_gnb_wrap.company {padding-bottom: 45px; background: #fff; overflow: hidden;}
.sub_gnb_wrap .inner {width: 1530px; margin: 0 auto; overflow: hidden;}
.sub_gnb_wrap.company .sub_gnb_list {position: relative; float: left; padding-top: 40px; margin-left: 110px; z-index: 1;}
.sub_gnb_wrap.company .sub_gnb_list:first-child {margin-left: 375px;}
.sub_gnb_wrap.company .sub_gnb_list:nth-child(2) {margin-left: 112px;}
.sub_gnb_wrap.company .sub_gnb_list:nth-child(3) {margin-left: 90px;}
.sub_gnb_wrap.company .sub_gnb_list:nth-child(4) {margin-left: 130px;}
.sub_gnb_wrap.company .sub_gnb_list > li:first-child {margin: 0 0 35px 0;}
.sub_gnb_wrap.company .sub_gnb_list > li:first-child strong {font-size: 16px;}
.sub_gnb_wrap.company .sub_gnb_list > li {margin-top: 14px;}
.sub_gnb_wrap.company .sub_gnb_list > li:not(:first-child) > a:hover {color: #03a2ea; text-decoration: underline;}
.sub_gnb_wrap.company .sub_gnb_list .link_list {margin-top: 14px;}
.sub_gnb_wrap.company .sub_gnb_list .link_list > li {margin-top: 10px;}
.sub_gnb_wrap.company .sub_gnb_list .link_list > li:first-child {margin-top: 0;}
.sub_gnb_wrap.company .sub_gnb_list .link_list > li > a {color: #868686;} 
.sub_gnb_wrap.company .sub_gnb_list .link_list > li > a::before {content: '\2022';}
.sub_gnb_wrap.company .sub_gnb_bg {position: absolute; left: 315px; top: 0; width: 217px; height: 100%; background: #f2f4f6; transition: left .4s linear;}

.center_list_wrap {display: none; position: absolute; left: 0; top: 127px; width: 100%;  padding: 50px 9.5% 90px 10.41%; background: #f5f5f5; z-index: 10;}
.center_list_wrap .tit_box {float: left; width: 195px;}
.center_list_wrap .tit_box strong {display: block; font-size: 28px;}
.center_list_wrap .tit_box p {margin-top: 10px; font-size: 18px; line-height: 1.44;}
.center_list_wrap .list_box {float: left; width: 710px; margin-left: 86px;}
.center_list_wrap .list_box .list_item {display: table; table-layout: fixed; width: 100%; padding: 25px 0; border-top: 1px solid #dfdfdf;}
.center_list_wrap .list_box .list_item:first-child {padding-top: 0; border-top: 0;}
.center_list_wrap .list_box .list_item .locat_name {display: table-cell; width: 122px; font-size: 16px; vertical-align: top;}
.center_list_wrap .list_box .list_item .locat_list {display: table-cell;}
.center_list_wrap .list_box .list_item .locat_list > li {float: left; width: 25%;}
.center_list_wrap .list_box .list_item .locat_list > li:nth-child(n + 5) {margin-top: 18px;}
.center_list_wrap .list_box .list_item .locat_list > li > a {font-size: 16px; color: #333;}
.center_list_wrap .list_box .list_item .locat_list > li:hover a {color: #03a2ea;}
.center_list_wrap .list_box .list_item .locat_list.etc > li {width: auto; margin-left: 20px;}
.center_list_wrap .list_box .list_item .locat_list.etc > li:first-child {margin-left: 0;}
.center_list_wrap .list_box .list_item .locat_list.etc > li > a {display: block; width:200px; height: 40px; line-height: 40px; border-radius: 30px; border: 1px solid #d9d9d9; text-align: center;}
.center_list_wrap .map_box {float: right; padding: 18px 18px 20px; background: #fff;}
.center_list_wrap .map_box .map_info {margin-top: 20px;}
.center_list_wrap .map_box .map_info strong {display: block; font-size: 20px; color: #222;}
.center_list_wrap .map_box .map_info [class*="info_"] {float: left; width: 50%; margin-top: 20px;}
.center_list_wrap .map_box .map_info [class*="info_"] > li {margin-top: 10px; color: #444;}
.center_list_wrap .map_box .map_info [class*="info_"] > li:first-child {margin-top: 0;}
.center_list_wrap .map_box .map_info .info_date {padding-left: 22px;}

/*  ---------------------
        footer
 --------------------- */
 
#footer {margin-top: 93px;}
#footer .footer_inner {position: relative; overflow: hidden; padding: 44px 0 44px; border-top: 3px solid #000;}
#footer .footer_inner .top {overflow: hidden;}
#footer .footer_inner .pb {overflow: hidden; float: left;}
#footer .footer_inner .pb > li {float: left; margin-left: 30px;}
#footer .footer_inner .pb > li:first-child {margin-left: 0;}
#footer .footer_inner .pb > li > a {font-size: 16px;}
#footer .footer_inner .info {margin-top: 18px;}
#footer .footer_inner .info span {margin-left: 34px; font-size: 14px; line-height: 1.71; color: #545454;}
#footer .footer_inner .info span:first-child {margin-left: 0;}
#footer .footer_inner .info span:nth-of-type(3) {margin-left: 0;}
#footer .footer_inner .social {overflow: hidden; float: right;}
#footer .footer_inner .social > li {float: left; margin-left: 16px;}
#footer .footer_inner .social > li:first-child {margin-left: 0;}
#footer .footer_inner .social li a {padding:4px;}
#footer .footer_inner .cpr {position: absolute; right: 0; bottom: 48px; font-size: 14px; line-height: 1.57; color: #bebebe;}

/* common mobile */
@media screen and (max-width:1024px) {
  .mo {display:block;}
  .pc{display:none;}
  .mo img {max-width: 100%;}

  .layout_width {width:100%; padding:0 4%;}
  #footer .footer_inner {padding: 35px 0 64px;}
  #footer .footer_inner .pb {float: none; text-align: center;}
  #footer .footer_inner .pb > li {float: none; margin-left: 0; display: inline-block;}
  #footer .footer_inner .pb > li > a {font-size: 14px; display: block; padding: 5px 10px;}
  #footer .footer_inner .info span {margin-left: 0; font-size: 14px; display:block; text-align:center;}
  #footer .footer_inner .social {float: none; margin-top:38px; text-align: center;}
  #footer .footer_inner .social > li {float: none; margin-left: 16px; display: inline-block;}
  #footer .footer_inner .cpr {right: 50%; bottom: 30px; font-size:13px; transform: translateX(50%); width:273px;}
}
