@charset "UTF-8";

html{
	height:100%;
	width:100%;
}

img {vertical-align:middle; border:0; padding:0;}
ul, li, dl, dt, dd {padding:0; margin:0; list-style:none; text-align:left;}
a {padding:0; margin:0;}

a:link    {color:#777;text-decoration:none;}
a:visited {color:#777;text-decoration:none;}
a:active  {color:#777;text-decoration:none;}
a:hover  {color:#09b0ee;text-decoration:none; cursor:pointer;}

body {
 font-family:'Noto Sans KR';
 font-size: 13px;
 color: #777;
 padding:0px;
 margin:0px;
 min-width:300px;
 height:100%;
 width:100%;
 letter-spacing:-1.2px !important;
 line-height:20px;
-webkit-text-size-adjust:none;
 }
 
@media all and (min-width:1020px){
.eng_wrap, 
.eng_wrap.on, 
.eng_wrap {letter-spacing:0; padding:0;} 
.eng_wrap .item_box #tab01 dl dd {font-size:14px; line-height:25px;}
.eng_wrap .item_box #tab02 dl dt,
.eng_wrap .item_box #tab05 dl dt {font-size:19px; color:#00a1e9; font-weight:600; margin-bottom:10px;}
.eng_wrap .item_box #tab02 dl dd {font-size:14px; margin-bottom:30px;}
.eng_wrap .item_box #tab02 .cont01 {background:#f5f5f5; padding:25px 0; text-align:center; color:#333; margin-bottom:25px;}
.eng_wrap .item_box #tab02 .cont01 a {display:block;}
.eng_wrap .item_box #tab02 .cont01 div {color:#00a1e9;}
.eng_wrap .item_box #tab02 ul {margin-top:25px;}
.eng_wrap .item_box #tab02 ul li span {width:60px; display:inline-block;}
.eng_wrap .item_box .tabcon { display:none; }
.eng_wrap .item_box .tabcon>dl dt {font-size:19px; color:#333; font-weight:600; margin-bottom:10px;}
.eng_wrap .item_box #tab01>dl,
.eng_wrap .item_box #tab02>dl,
.eng_wrap .item_box .tabcon>dl.fir {border-top:0; margin-top:0; padding-top:0;}
.eng_wrap .item_box .tabcon>dl {border-top:#e5e5e5 1px solid; margin-top:15px; padding-top:25px;}
.eng_wrap .item_box #tab04>dl {border-top:0; margin-top:0; padding-top:0;}
.eng_wrap .item_box #tab05>dl {border-top:0; margin-top:0;}
.eng_wrap .item_box .tabcon>dl>dd>ul {margin-top:25px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li {overflow:hidden; margin-bottom:20px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li a {float:left;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li a div {border-radius:2px; -webkit-border-radius:2px; margin-top:-15px; padding:5px 0; background:#00a7e5; position:relative; z-index:2; text-align:center; color:#fff;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl {float:right; width:360px;}
.eng_wrap .item_box #tab01 dl dt {font-size:19px; color:#333; font-weight:600; margin:30px 0;}
.eng_wrap .item_box .tabcon span.subB { font-size:11px; font-weight:bold; display:block; padding-top:10px; }
.eng_wrap .item_box #tab04>dl>dd>ul>li>dl {padding-bottom:30px;}
.eng_wrap .item_box .title {font-size:19px; color:#333; font-weight:600; border-bottom:#b2b2b2 1px solid; padding-bottom:30px; margin-bottom:40px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dt {color:#00a1e9;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dd span.duck_foot {display:block; color:#999; line-height:17px; margin-top:5px; margin-left:0px; }
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dd div.stitle {margin:20px 0 0 0; color:#333;}
.eng_wrap .item_box .tabcon .step>ul {overflow:hidden; margin-top:30px;}
.eng_wrap .item_box .tabcon .step>ul>li {float:left; width:85px; padding-right:5px; overflow:hidden;}
.eng_wrap .item_box .tabcon .step>ul>li span.fa {float:right; margin:40px 10px 0 0; color:#afb2ba; display:block; width:100%;}
.eng_wrap .item_box .tabcon .step>ul>li.t01>dl {background:#58c4ea;}
.eng_wrap .item_box .tabcon .step>ul>li.t02>dl {background:#4fadf0;}
.eng_wrap .item_box .tabcon .step>ul>li.t03>dl {background:#5e89dc;}
.eng_wrap .item_box .tabcon .step>ul>li.t04>dl {background:#5160de;}
.eng_wrap .item_box .tabcon .step>ul>li>dl {font-size:12px; color:#fff; height:70px; padding:5px; float:left;}
.eng_wrap .item_box .tabcon .step>ul>li>dl>dt {font-size:12px; color:#fff; padding:0; margin:0 0 5px 0; text-align:center;}
.eng_wrap .item_box .tabcon .step>ul>li>dl>dd {text-align:center; line-height: 14px}
.eng_wrap .item_box #tab04>dl>dd>ul>li>dl dd ul li {list-style-image:url('/img/list_style.gif'); margin-left:15px;}
}

@media all and (max-width:1019px){
.eng_wrap, 
.eng_wrap.on {letter-spacing:0; width:100%; padding:0; left:0; margin:0; top:0;}
.eng_wrap .item_box {width:0%; position:relative; float:right; margin-right:-90%; overflow:hidden; height:0;
-webkit-transition:all 0.5s ease .1s;
-moz-transition:all 0.5s ease .1s;
-ms-transition:all 0.5s ease .1s;
-o-transition:all 0.5s ease .1s;
transition:all 0.5s ease .1s;
}
.eng_wrap .item_box.on {width:90%; margin-right:0; padding:50px 5%; height:auto;}
.eng_wrap .item_box .title {font-size:19px; color:#333; font-weight:600; border-bottom:#b2b2b2 1px solid; padding-bottom:30px; margin-bottom:40px;}
.eng_wrap .item_box #tab01 dl dt {font-size:19px; color:#333; font-weight:600; margin:30px 0;}
.eng_wrap .item_box #tab01 dl dd {font-size:14px; line-height:25px;}
.eng_wrap .item_box #tab02 dl dt, 
.eng_wrap .item_box #tab05 dl dt {font-size:19px; color:#00a1e9; font-weight:600; margin-bottom:10px;}
.eng_wrap .item_box #tab02 dl dd {font-size:14px; margin-bottom:30px;}
.eng_wrap .item_box #tab02 .cont01 {background:#f5f5f5; padding:25px 0; text-align:center; color:#333; margin-bottom:25px;}
.eng_wrap .item_box #tab02 .cont01 a {display:block;}
.eng_wrap .item_box #tab02 .cont01 div {color:#00a1e9;}
.eng_wrap .item_box #tab02 ul {margin-top:25px;}
.eng_wrap .item_box #tab02 ul li span {width:60px; display:inline-block;}
.eng_wrap .item_box .tabcon>dl dt {font-size:19px; color:#333; font-weight:600; margin-bottom:10px;}
.eng_wrap .item_box .tabcon img {max-width:100%;}
.eng_wrap .item_box #tab01>dl, 
.eng_wrap .item_box #tab02>dl, 
.eng_wrap .item_box .tabcon>dl.fir {border-top:0; margin-top:0; padding-top:0;}
.eng_wrap .item_box .tabcon>dl {border-top:#e5e5e5 1px solid; margin-top:25px; padding-top:25px;}
.eng_wrap .item_box #tab04>dl {border-top:0; margin-top:0; padding-top:0;}
.eng_wrap .item_box #tab05>dl {border-top:0; margin-top:0;}
.eng_wrap .item_box .tabcon>dl>dd {text-align:left;}
.eng_wrap .item_box .tabcon>dl>dd>ul {margin-top:25px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li {overflow:hidden; margin-bottom:20px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li img {float:left; border:#e3e3e3 1px solid;}
.eng_wrap .item_box #tab04>dl>dd>ul>li img {border:0; margin-bottom:50px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl {float:right; width:100%;}
.eng_wrap .item_box #tab04>dl>dd>ul>li>dl {padding-bottom:30px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dt {color:#00a1e9;}
.eng_wrap .item_box #tab03>dl>dd>ul>li>dl {margin-top:15px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dd span.duck_foot {display:block; color:#999; line-height:17px; margin-top:5px;}
.eng_wrap .item_box .tabcon>dl>dd>ul>li>dl>dd div.stitle {margin:20px 0 0 0; color:#333;}
.eng_wrap .item_box .tabcon .step>ul {overflow:hidden; margin-top:30px;}
.eng_wrap .item_box .tabcon .step>ul>li {float:left; width:157px; overflow:hidden;}
.eng_wrap .item_box .tabcon .step>ul>li span.fa {float:right; margin:40px 10px 0 0; color:#afb2ba;}
.eng_wrap .item_box .tabcon .step>ul>li.t04 {width:128px;}
.eng_wrap .item_box .tabcon .step>ul>li.t01>dl {background:#58c4ea;}
.eng_wrap .item_box .tabcon .step>ul>li.t02>dl {background:#4fadf0;}
.eng_wrap .item_box .tabcon .step>ul>li.t03>dl {background:#5e89dc;}
.eng_wrap .item_box .tabcon .step>ul>li.t04>dl {background:#5160de;}
.eng_wrap .item_box .tabcon .step>ul>li>dl {font-size:13px; color:#fff; width:108px; height:70px; padding:10px; float:left;}
.eng_wrap .item_box .tabcon .step>ul>li>dl>dt {font-size:13px; color:#fff; padding:0; margin:0 0 10px 0; text-align:center;}
.eng_wrap .item_box .tabcon .step>ul>li>dl>dd {text-align:center;}
.eng_wrap .item_box iv#tab04>dl>dd>ul>li>dl dd ul li {list-style-image:url('/img/list_style.gif'); margin-left:15px;}
}

@media all and (max-width:567px){
.eng_wrap .item_box .tabcon .step>ul>li {float:left; width:100%; overflow:hidden;}
.eng_wrap .item_box .tabcon .step>ul>li span.fa {display:none;}
.eng_wrap .item_box .tabcon .step>ul>li.t04 {width:100%;}
.eng_wrap .item_box .tabcon .step>ul>li>dl {width:100%; height:auto; padding:20px 0;}
.eng_wrap .item_box .tabcon .step>ul>li>dl>dt {margin:0 0 5px 0;}
}