@charset "UTF-8";
@media screen and (max-width: 1024px) {
	.pg_nav_wrap {position: relative; margin-top:40px; padding-right:30%; width:100%;height:18px;}
	.swiper-scrollbar {background: #e7e7e7;height: 3px;}
	.pg_nav_wrap .pg_nav {width:25%;padding:0 40px;position: relative;position: absolute;right:0;top:12px;}
	.swiper-scrollbar-drag {background: #000}
	.swiper-button-next {right:0;}
	.swiper-button-prev {left:0;}
	.swiper-button-next.swiper-button-disabled, 
	.swiper-button-prev.swiper-button-disabled {opacity:1;}
}

.visual_wrap {position:relative; }
.visual_wrap .bg {position:relative; display:inline-block; width:100%; height:600px; overflow:hidden;}
.visual_wrap .bg .bg.mo {display:none;}
.visual_wrap .bg img {position:absolute; top:50%; transform:translateY(-50%); width:100%; height:100%;  pointer-events: none;}
.visual_wrap .txt {position: absolute; top:0; left:50%; width:1530px; transform:translateX(-50%); opacity: 0; transition: all .7s ease-in-out; text-align:left;}
.visual_wrap .txt_inner {position:absolute; top:0; left:131px;}
.visual_wrap .title {font-size:40px; color:#fff; letter-spacing:-0.4px; display:block; line-height:48px;}
.visual_wrap p {font-size:16px; color:#fff; letter-spacing:-0.3px; color:#fff; margin-top:27px; margin-bottom:78px; line-height:24px;}
.visual_wrap .btn_txt.more {font-size:12px; letter-spacing:-0.3px; color:#fff; border-bottom:2px solid #fff; padding-bottom:4px; font-weight: 700;}
.visual_wrap .swiper-slide {position: relative; text-align:center; font-size:18px; background:#fff; /* Center slide text vertically */ -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center;}
.visual_wrap .swiper-pagination-bullet {width:10px; height:10px; display:inline-block; border:1px solid #fff; background:#fff; opacity:.4;}
.visual_wrap .swiper-pagination-bullet-active {opacity:1; background:#fff; width:38px; border-radius:25px;}
.visual_wrap .swiper-slide-active .txt {transition:all 0.5s; top:134px; opacity:1}

@media screen and (max-width: 1024px) { 
	.visual_wrap {height:460px;}
  .visual_wrap .bg {height:100%;}
	.visual_wrap .txt {width:100%; left:50%; top:0; transform:translateX(-50%); }
	.visual_wrap .swiper-slide-active .txt {top:60px;}
  .visual_wrap .txt_inner {position: static; text-align:center;}
  .visual_wrap .txt .title {font-size:28px; letter-spacing: -0.4px; line-height:33px;}
  .visual_wrap .txt p {margin-top:16px; margin-bottom:32px; font-size:14px; line-height:20px; letter-spacing:-0.26px;}
  .visual_wrap .txt_inner .btn_txt.more {margin-top:32px; font-size:12px; line-height:18px;}
  .visual_wrap .swiper-pagination {bottom:20px;}
}


.bestPro_wrap {position:relative; margin-top: 140px;}
.bestPro_wrap .title {font-size:36px; display:block;font-weight: 400;}
.bestPro_wrap .stit {font-size:12px; display:block; }
.bestPro_wrap p {font-size:16px; margin-top:37px; line-height:1.5; color:#545454;}
.bestPro_wrap .img {margin-left:180px; overflow:hidden;}
.bestPro_wrap .swiper-slide {/* Center slide text vertically */ -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; width:750px; }
.bestPro_wrap .swiper-slide a {display:block; width:100%;}
.bestPro_wrap .swiper-slide img {transition:all 0.5s;max-width:100%}
.bestPro_wrap .swiper-slide:hover img {transform:scale(1.2); transition:all 0.5s;}
.bestPro_wrap .txt {position:absolute; top:0; left:0;  height:418px; display:block; text-align:left; padding-top:60px; z-index:999; transition:all 0.5s;}
.bestPro_wrap .swiper-slide:hover .txt {transition:all 0.5s; position:absolute; top:-40px; left:0;}
.bestPro_wrap .btn_txt.more {font-size:12px; border-bottom:2px solid #000; padding-bottom:4px; position:absolute; bottom:30px; left:0; font-weight:700;}

@media screen and (max-width: 1024px) {
	.bestPro_wrap {margin-top: 100px; padding:0 15px; }
	.bestPro_wrap .swiper-slide {width:76%;}
	.bestPro_wrap .img {margin-left:0;}
	.bestPro_wrap .title { font-size: 28px; display: block; }
	.bestPro_wrap p {font-size:14px; margin-top:20px; }
	.bestPro_wrap .txt {position:static; margin-top:-8px; padding-top:0; height:auto; }
	.bestPro_wrap .swiper-slide:hover .txt {position:static;}
	.swiper-slide {width:285px;margin-bottom:0;}
	.bestPro_wrap .swiper-pagination {bottom:6px;}




	/* mobile none */
	.bestPro_wrap .stit,
	.bestPro_wrap .btn_txt.more {display: none;}
}
.cs_wrap {margin-top:141px;}
.cs_wrap ul {overflow:hidden; margin:0 76px;}
.cs_wrap ul li {float:left; width:calc((100% - 152px) / 3); margin-left:50px; box-sizing:border-box; position: relative;}
.cs_wrap ul li strong {font-size:24px;}
.cs_wrap ul li p {margin-top:10px; font-size:16px; color:#545454; white-space:nowrap;}
.cs_wrap ul li a {display: block; padding:6.5px 10px 6.5px 84px;}
.cs_wrap ul li:first-child {background:url('../image/main/ico-book.png') no-repeat left center; background-size:53px 60px;}
.cs_wrap ul li:nth-child(2) {background:url('../image/main/ico-pen.png') no-repeat left center; background-size:53px 60px;}
.cs_wrap ul li:nth-child(3) {background:url('../image/main/ico-pencil.png') no-repeat left center; background-size:53px 60px;}
.cs_wrap ul li::before {content:""; clear:both; position: absolute; width:1.5px; height:63px; top:0; right:0; background-color:#e7e7e7;}
.cs_wrap ul li:last-child:before {display: none;}
@media screen and (max-width: 1024px) {
	.cs_wrap {margin-top:80px;}
	.cs_wrap ul {margin: 0 8px;}
	.cs_wrap ul li {margin:0;padding:53px 0 0 0; width:calc((100% - 8px) / 3);}
	.cs_wrap ul li strong {font-size: 14px; display: block; text-align: center;}
	.cs_wrap ul li a {padding:0;}
	.cs_wrap ul li:first-child {background:url('../image/main/ico-book.png') no-repeat center top; background-size:35px 40px;}
	.cs_wrap ul li:nth-child(2) {background:url('../image/main/ico-pen.png') no-repeat center top; background-size:35px 40px;}
	.cs_wrap ul li:nth-child(3) {background:url('../image/main/ico-pencil.png') no-repeat center top; background-size:35px 40px;}
	.cs_wrap ul li::before {height:66px;}
}


/* .banner_wrap ul {display:table; margin-top:81px;}
.banner_wrap li {display:table-cell; background-image:url(../image/main/bn-bg.png); background-position:0 0; background-repeat:0; position:relative;}
.banner_wrap li.item.list2 {background-position:0 240px; text-align:right;}
.banner_wrap .swiper-slide>a {display: block;}
.banner_wrap .txt {transition:all 0.5s; position:absolute; top:74px; z-index:99;}
.banner_wrap li.item.list1 .txt {left:80px;}
.banner_wrap li.item.list2 .txt {right:80px;}
.banner_wrap li:hover .txt {transition:all 0.8s; top:54px;}
.banner_wrap .txt .title {font-size:24px; font-weight:700; color:#fff;}
.banner_wrap .txt .cont {font-size:16px; color:#fff; padding-top:20px; line-height:24px;}
.banner_wrap a {display:block; overflow:hidden; width:765px; height:240px; position:relative;}
.banner_wrap a .color_bg {width:0%; top:0; right:-300px; transition:all 0.5s; z-index:1;}
.banner_wrap a:hover .color_bg {position:absolute; top:0; display:block; width:765px; height:240px; background-color:rgb(0,0,0,0.2); transition:all 0.5s;}
.banner_wrap li.item.list1 a .color_bg {right:-300px;}
.banner_wrap li.item.list2 a .color_bg {left:-300px;}
.banner_wrap li.item.list1 a:hover .color_bg {right:0;}
.banner_wrap li.item.list2 a:hover .color_bg {left:0;}
@media screen and (max-width: 1024px) {
	.banner_wrap li {display:table;}
	.banner_wrap .txt .title {font-size:20px;}
	.banner_wrap .txt .cont {font-size:14px; padding-top:15px; line-height:22px;}
	.banner_wrap .txt {top:35px;}
	.banner_wrap li.item.list1 .txt {left:35px;}
	.banner_wrap li.item.list2 .txt {right:35px;}
} */

.banner_wrap ul {margin-top:86px;}
.banner_wrap li {position:relative; float:left;}
.banner_wrap li.item.list2 {text-align:right;}
.banner_wrap .swiper-slide>a {display: block;}
.banner_wrap .txt {transition:all 0.5s; position:absolute; top:71px; z-index:99;}
.banner_wrap li.item.list1 img{width:100%; height:100%;}
.banner_wrap li.item.list2 img{width:100%; height:100%;}
.banner_wrap li.item.list1 .txt {left:80px;}
.banner_wrap li.item.list2 .txt {right:80px;}
.banner_wrap li:hover .txt {transition:all 0.8s; top:54px;}
.banner_wrap .txt .title {font-size:24px; font-weight:700; color:#fff;}
.banner_wrap .txt .cont {font-size:16px; color:#fff; padding-top:20px; line-height:24px;}
.banner_wrap a {display:block; overflow:hidden; width:765px; height:240px; position:relative;}
.banner_wrap a .color_bg {width:0%; top:0; right:-300px; transition:all 0.5s; z-index:1;}
.banner_wrap a:hover .color_bg {position:absolute; top:0; display:block; width:100%; height:240px; background-color:rgb(0,0,0,0.2); transition:all 0.5s;}
.banner_wrap li.item.list1 a .color_bg {right:-300px;}
.banner_wrap li.item.list2 a .color_bg {left:-300px;}
.banner_wrap li.item.list1 a:hover .color_bg {right:0;}
.banner_wrap li.item.list2 a:hover .color_bg {left:0;}
@media screen and (max-width: 1024px) {
	.banner_wrap.layout_width {padding:0;}
	.banner_wrap ul {margin-top:60px;}
	.banner_wrap li {float:none;}
	.banner_wrap .txt .title {font-size:20px;}
	.banner_wrap .txt .cont {font-size:14px; padding-top:15px; line-height:22px;}
	.banner_wrap .txt {top:35px;}
	.banner_wrap li.item.list1 .txt {left:35px;}
	.banner_wrap li.item.list2 .txt {right:35px;}
	.banner_wrap a {display:block; overflow:hidden; width:100%; height:170px;}
}

.insta_wrap {position:relative; margin-top:63px; overflow: hidden;}
.insta_wrap h2 {}
.insta_wrap .goto_insta {font-size:16px; position:absolute; right:0;}
.insta_wrap .goto_insta::before {content:""; clear:both; display:inline-block; margin-right:16px; width:24px; height:24px; background:url(../image/main/ic_insta.png) no-repeat center; vertical-align:middle;}
.insta_wrap .swiper-slide {margin-top:36px; overflow: hidden;}
.insta_wrap .swiper-slide .thumb img, .insta_wrap .swiper-slide .thumb {width:100%;}
.insta_wrap .swiper-slide .thumb span.color_bg {position:absolute; left:0; top:0; display:block; width:500px; height:500px; /* background-color:#fff;*/ background-color:rgb(256,256,256,0.6); transition:all 0.5s; transform:skew(-45deg,15deg);	cursor:pointer;}
.insta_wrap .swiper-slide .thumb.animated .color_bg {width:0%; top:-300px; transition:all 0.5s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="1"] .thumb.animated .color_bg {transition-delay:0.1;}
.insta_wrap .swiper-slide[data-swiper-slide-index="2"] .thumb.animated .color_bg {transition-delay:0.2s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="3"] .thumb.animated .color_bg {transition-delay:0.3s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="4"] .thumb.animated .color_bg {transition-delay:0.4s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="5"] .thumb.animated .color_bg {transition-delay:0.5s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="6"] .thumb.animated .color_bg {transition-delay:0.6s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="7"] .thumb.animated .color_bg {transition-delay:0.7s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="8"] .thumb.animated .color_bg {transition-delay:0.8s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="9"] .thumb.animated .color_bg {transition-delay:0.9s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="10"] .thumb.animated .color_bg {transition-delay:1s;}
.insta_wrap .swiper-slide .thumb:hover .color_bg {width:500px; top:170px; transition:all 0.5s;}
.sevice_wrap {position:relative; height:550px; margin-top:140px; overflow: hidden;}
.sevice_wrap strong {font-size:36px; margin-top:32px; display:block;}
.sevice_wrap .navi_thumb {width:390px; height:60px; box-sizing:border-box; position:absolute; z-index:99; border-bottom:3px solid #000; padding-bottom:4px; margin-top:20px; overflow:inherit;}
.sevice_wrap .navi_thumb .swiper-slide {opacity:0; width:336px; font-size:36px; font-weight:700; display:initial;}
.sevice_wrap .navi_thumb::before {content:""; clear:both; width:24px; height:24px; background:url(../image/main/arr.png) no-repeat 0 0; position:absolute; right:0; top:15px;}
.sevice_wrap .navi_thumb .swiper-wrapper {}
.sevice_wrap .navi_thumb .swiper-slide-active {opacity:1;}
.sevice_wrap .thumb .swiper-slide {opacity:0.4;}
.sevice_wrap .thumb .swiper-slide-active {opacity:1;}
.sevice_wrap .thumb {position:relative; height:550px; left:390px; overflow:inherit;}
.sevice_wrap .thumb .txt {width:336px; overflow:hidden; position:absolute; left:-290px; top:150px; color:#545454; font-size:16px; line-height:24px; opacity:0; transition:all 0.5s;}
.sevice_wrap .thumb .swiper-slide-active .txt {opacity:1; left:-390px; transition:all 0.5s; transition-delay:0.5s;}
.sevice_wrap .pg_nav {position:absolute; bottom:-315px; display:block; font-size:18px; width:120px; height:10px;}
.sevice_wrap .gallery-text {position:absolute; bottom:0; display:block; width:336px;}
.sevice_wrap .thumb .swiper-slide.swiper-slide-prev {opacity:0;}
.quick_menu {position:fixed; right:-88px; top:328px; z-index:9999; transition:right .4s ease;}
.quick_menu:hover {right:0;}
.quick_menu>li {margin-top:1px;}
.quick_menu>li>a {position:relative; display:block; padding:0 17px 0 50px; height:50px; color:#fff; background:#000; line-height:50px; font-size:14px;}
.quick_menu>li>a:hover {background:rgba(0,117,194,0.85);}
.quick_menu>li:first-child {margin-top:0;}
.quick_menu>li:first-child a::before {content:''; position:absolute; left:0; top:0; width:50px; height:50px; background:url('../image/main/ico-quick01.png') no-repeat center;}
.quick_menu>li:nth-child(2) a::before {content:''; position:absolute; left:0; top:0; width:50px; height:50px; background:url('../image/main/ico-quick02.png') no-repeat center;}
.quick_menu>li:nth-child(3) a::before {content:''; position:absolute; left:0; top:0; width:50px; height:50px; background:url('../image/main/ico-quick03.png') no-repeat center;}
.quick_menu>li:nth-child(4) a::before {content:''; position:absolute; left:0; top:0; width:50px; height:50px; background:url('../image/main/ico-quick04.png') no-repeat center;}
@media screen and (max-width: 1024px) {
	.quick_menu {display:none;}
	.insta_wrap h2 {font-size:18px;}
	.insta_wrap .swiper-slide {margin-top:30px;}
}

.info_wrap {overflow: hidden; margin-top: 120px;}
.info_wrap .item_box {float: left; width: 50%; height: 284px; box-sizing: border-box;}
.info_wrap .item_box.notice {padding-right: 80px; border-right: 1px solid #e1e1e1;}
.info_wrap .item_box.notice .title {overflow: hidden;}
.info_wrap .item_box.notice .title h3 {float: left; font-size: 18px;}
.info_wrap .item_box.notice .title .btn_more {float: right; font-size: 12px; font-weight: bold; padding-bottom: 3px; border-bottom: 2px solid #000;}
.info_wrap .item_box.notice .notice_list {margin-top: 40px;}
.info_wrap .item_box.notice .notice_list > li {padding: 17px 0; border-bottom: 1px solid #f1f1f1;}
.info_wrap .item_box.notice .notice_list > li > a {overflow: hidden; display: block;  font-size: 16px;}
.info_wrap .item_box.notice .notice_list > li > a:hover .title {text-decoration: underline;}
.info_wrap .item_box.notice .notice_list > li .title {float: left; color: #333;}
.info_wrap .item_box.notice .notice_list > li .date {float: right; color: #7c7c7c;}
.info_wrap .item_box.cs {position:relative; overflow: hidden; padding-left: 80px;}
.info_wrap .item_box.cs .item {float: left; width: 50%;}
.info_wrap .item_box.cs .item .title {font-size: 18px;}
.info_wrap .item_box.cs .item .sub_title {margin-top: 36px; font-size: 24px; line-height: 1.42;}
.info_wrap .item_box.cs .item .desc {margin-top: 10px; font-size: 16px; color: #333; line-height: 1.63;}
.info_wrap .item_box.cs .item .ico {display: block; margin-top: 35px; width:44px; height:44px; text-align:center;}
.info_wrap .item_box.cs .item .ico img {display:inline-block;}
.info_wrap .item_box.cs .item .center_info {margin-top: 36px; height: 68px;}
.info_wrap .item_box.cs .item .center_info > li {font-size: 24px; margin-top: 10px;}
.info_wrap .item_box.cs .item .center_info > li:first-child {margin-top: 0;}

@media screen and (max-width:1024px) {
	.info_wrap {padding-bottom:58px;}
  .info_wrap .item_box {float:none;}
  .info_wrap .item_box.notice {padding-right:0; width:100%; height:290px; border-right:none;}
  .info_wrap .item_box.notice .notice_list {margin-top:15px;}
  .info_wrap .item_box.notice .notice_list > li {padding:15px 0;}
  .info_wrap .item_box.notice .notice_list > li .title {margin-right:41px; width:calc(100% - 121px); text-overflow: ellipsis; white-space: nowrap; font-size:14px;}
  .info_wrap .item_box.notice .notice_list > li .date {width:80px; font-size:14px; line-height:16px;}
  .info_wrap .item_box.cs {padding-left:0; width:100%; height:253px; overflow: visible;}
  .info_wrap .item_box.cs .item {float: none;}
  .info_wrap .item_box.cs .item .sub_title {margin-top:30px;}
  .info_wrap .item_box.cs .item .ico {position:absolute; left:0; bottom:0; margin-top:0;}
	.info_wrap .item_box.cs .swiper-slide-next {margin-left:-12%; opacity:0.2;}  
	.info_wrap .item_box.cs .swiper-pagination {bottom:6px;}
}
