@charset "UTF-8";
#content {}

@media screen and (max-width:1024px) {
	.pg_nav_wrap {position:relative;margin-top:40px;padding-right:30%;width:100%;height:18px;}
	.swiper-scrollbar {background:#e7e7e7;height:3px;}
	.pg_nav_wrap .pg_nav {width:25%;padding:0 40px;position:relative;position:absolute;right:0;top:12px;}
	.swiper-scrollbar-drag {background:#000}
	.swiper-button-next {right:0;}
	.swiper-button-prev {left:0;}
	.swiper-button-next.swiper-button-disabled, 
	.swiper-button-prev.swiper-button-disabled {opacity:1;}
}
/* key visual */
.visual_wrap {position:relative;height:600px;overflow: hidden;}
.visual_wrap .txt {position:absolute;top:0;left:50%;width:1530px;transform:translateX(-50%);opacity:0;transition:all .7s ease-in-out;text-align:left;}
.visual_wrap .color_white {color:#fff;}
.visual_wrap .color_black {color:#444;}
.visual_wrap .txt_inner {position:absolute;top:0;left:131px;}
.visual_wrap .title {font-size:40px;letter-spacing:-0.4px;display:block;line-height:48px;}
.visual_wrap p {font-size:16px;letter-spacing:-0.3px;margin-top:27px;margin-bottom:78px;line-height:24px;}
.visual_wrap .btn_txt.more {font-size:12px;letter-spacing:-0.3px;border-bottom:2px solid #fff;padding-bottom:4px;font-weight:700;}
.visual_wrap .color_white .btn_txt.more {color:#fff;border-bottom:2px solid #fff;}
.visual_wrap .color_black .btn_txt.more {color:#444;border-bottom:2px solid #444;}

.visual_wrap .swiper-slide {position:relative;text-align:center;font-size:18px;background:#fff;/* Center slide text vertically */ -webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.visual_wrap .swiper-pagination-bullet {width:10px;height:10px;display:inline-block;border:1px solid #fff;background:#fff;opacity:.4;}
.visual_wrap .swiper-pagination-bullet-active {opacity:1;background:#fff;width:38px;border-radius:25px;}
.visual_wrap .swiper-slide-active .txt {transition:all 0.5s;top:134px;opacity:1}




@media screen and (max-width:1600px) {
	.visual_wrap .txt {width:100%}
}

@media screen and (max-width:768px) {
	.visual_wrap {height:460px;}
  .visual_wrap .bg {height:100%;}
	.visual_wrap .txt {width:100%;left:50%;top:0;transform:translateX(-50%);}
	.visual_wrap .swiper-slide-active .txt {top:60px;}
  .visual_wrap .txt_inner {position:static;text-align:center;}
  .visual_wrap .txt .title {font-size:28px;letter-spacing:-0.4px;line-height:33px;}
  .visual_wrap .txt p {margin-top:16px;margin-bottom:32px;font-size:14px;line-height:20px;letter-spacing:-0.26px;}
  .visual_wrap .txt_inner .btn_txt.more {margin-top:32px;font-size:12px;line-height:18px;}
  .visual_wrap .swiper-pagination {bottom:20px;}
}



.bestPro_wrap {position:relative;margin-top:140px;}
.bestPro_wrap .title {margin-top:12px;font-size:36px;display:block;font-weight:400;}
.bestPro_wrap .stit {font-size:12px;display:block;}
.bestPro_wrap p {margin-top:36px;color:#545454;font-size:16px;line-height:1.5;}
.bestPro_wrap .img {margin-left:180px;overflow:hidden;}
.bestPro_wrap .swiper-slide {/* Center slide text vertically */ -webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:750px;}
.bestPro_wrap .swiper-slide a {display:inline-block;}
.bestPro_wrap .swiper-slide img {display:block;width:100%;transition:all 0.5s;}
.bestPro_wrap .swiper-slide:hover img {transform:scale(1.2);transition:all 0.5s;}
.bestPro_wrap .txt {position:absolute;top:0;left:0; height:418px;display:block;text-align:left;padding-top:60px;z-index:999;transition:all 0.5s;}
.bestPro_wrap .swiper-slide:hover .txt {position:absolute;top:-40px;left:0;transition:all 0.5s;}
.bestPro_wrap .btn_txt.more {position:absolute;bottom:30px;left:14px;padding-bottom:4px;font-size:12px;border-bottom:2px solid #000; font-weight:700;}

@media screen and (max-width:1024px) {
	.bestPro_wrap {margin-top:100px;padding:0 15px;}	
	.bestPro_wrap .img {margin-left:0;}
	.bestPro_wrap .title {margin-top:0;font-size:28px;display:block;}
	.bestPro_wrap p {font-size:14px;margin-top:20px;}
	.bestPro_wrap .txt {z-index:999;position:relative;margin-top:-8px;padding-top:0;height:auto;}
	.bestPro_wrap .swiper-slide:hover .txt {position:relative;top:0;}
	.bestPro_wrap .swiper-slide {margin-bottom:0;width:285px;}
	.bestPro_wrap .swiper-pagination {bottom:6px;}




	/* mobile none */
	.bestPro_wrap .stit,
	.bestPro_wrap .btn_txt.more {display:none;}
}
.cs_wrap {margin-top:141px;}
.cs_wrap ul {overflow:hidden;margin:0 76px;}
.cs_wrap ul li {float:left;width:calc((100% - 152px) / 3);margin-left:50px;box-sizing:border-box;position:relative;}
.cs_wrap ul li strong {font-size:24px;font-weight:normal;line-height:36px;}
.cs_wrap ul li p {margin-top:5px;color:#545454;font-size:16px;white-space:nowrap;line-height:1.13;}
.cs_wrap ul li a {display:block;padding:6.5px 10px 6.5px 84px;}
.cs_wrap ul li:first-child {background:url('../image/main/ico-book.png') no-repeat left center;background-size:53px 60px;}
.cs_wrap ul li:nth-child(2) {background:url('../image/main/ico-pen.png') no-repeat left center;background-size:53px 60px;}
.cs_wrap ul li:nth-child(3) {background:url('../image/main/ico-pencil.png') no-repeat left center;background-size:53px 60px;}
.cs_wrap ul li::before {content:"";clear:both;position:absolute;top:50%;right:0;width:1px;height:63px;transform:translateY(-50%);background-color:#e7e7e7;}
.cs_wrap ul li:last-child:before {display:none;}
@media screen and (max-width:1024px) {
	.cs_wrap {margin-top:80px;}
	.cs_wrap ul {margin:0 8px;}
	.cs_wrap ul li {margin:0;padding:0;width:calc((100% - 8px) / 3);}
	.cs_wrap ul li strong {font-size:14px;display:block;text-align:center;}
	.cs_wrap ul li a {padding:53px 0 0 0;}
	.cs_wrap ul li:first-child {background:url('../image/main/ico-book.png') no-repeat center 10px;background-size:35px 40px;}
	.cs_wrap ul li:nth-child(2) {background:url('../image/main/ico-pen.png') no-repeat center 10px;background-size:35px 40px;}
	.cs_wrap ul li:nth-child(3) {background:url('../image/main/ico-pencil.png') no-repeat center 10px;background-size:35px 40px;}
	.cs_wrap ul li::before {height:66px;}
}

.banner_wrap ul {margin-top:86px;}
.banner_wrap li {position:relative;float:left;width:50%;}
.banner_wrap li.item.list2 {text-align:right;}
.banner_wrap .swiper-slide>a {display:block;}
.banner_wrap .txt {transition:all 0.5s;position:absolute;top:71px;z-index:99;}
.banner_wrap li.item.list1 img {height:100%;}
.banner_wrap li.item.list2 img {height:100%;}
.banner_wrap li.item.list1 .txt {left:80px;}
.banner_wrap li.item.list2 .txt {right:80px;}
.banner_wrap li:hover .txt {transition:all 0.8s;top:54px;}
.banner_wrap .txt .title {font-size:24px;font-weight:700;color:#fff;}
.banner_wrap .txt .cont {font-size:16px;color:#fff;padding-top:20px;line-height:24px;}
.banner_wrap a {display:block;overflow:hidden;width:100%;position:relative;}
.banner_wrap a .color_bg {width:0%;top:0;right:-300px;transition:all 0.5s;z-index:1;}
.banner_wrap a:hover .color_bg {position:absolute;top:0;display:block;width:100%;height:240px;background-color:rgb(0,0,0,0.2);transition:all 0.5s;}
.banner_wrap li.item.list1 a .color_bg {right:-300px;}
.banner_wrap li.item.list2 a .color_bg {left:-300px;}
.banner_wrap li.item.list1 a:hover .color_bg {right:0;}
.banner_wrap li.item.list2 a:hover .color_bg {left:0;}

@media screen and (max-width:1024px) {
	.banner_wrap.layout_width {padding:0;}
	.banner_wrap ul {margin-top:60px;}
	.banner_wrap li {float:none;width:100%;}
	.banner_wrap li.item.list1 img {position:absolute;right:0;}
	.banner_wrap .txt .title {font-size:20px;}
	.banner_wrap .txt .cont {font-size:14px;padding-top:15px;line-height:22px;}
	.banner_wrap .txt {top:35px;}
	.banner_wrap li.item.list1 .txt {left:35px;}
	.banner_wrap li.item.list2 .txt {right:35px;}
	.banner_wrap a {display:block;overflow:hidden;width:100%;height:210px;}
}

@media screen and (max-width:768) {
	.banner_wrap a {height:170px;}
}
.insta_wrap {position:relative;margin-top:63px;overflow:hidden;}
.insta_wrap h2 {}
.insta_wrap .goto_insta {font-size:16px;position:absolute;right:0;}
.insta_wrap .goto_insta::before {content:"";clear:both;display:inline-block;margin-right:16px;width:24px;height:24px;background:url(../image/main/ic_insta.png) no-repeat center;vertical-align:middle;}
.insta_wrap .swiper-slide {margin-top:36px;overflow:hidden;}
.insta_wrap .swiper-slide .thumb img, .insta_wrap .swiper-slide .thumb {display:block;width:100%;}
.insta_wrap .swiper-slide .thumb span.color_bg {position:absolute;left:0;top:0;display:block;width:500px;height:500px;/* background-color:#fff;*/ background-color:rgb(256,256,256,0.6);transition:all 0.5s;transform:skew(-45deg,15deg);	cursor:pointer;}
.insta_wrap .swiper-slide .thumb.animated .color_bg {width:0%;top:-300px;transition:all 0.5s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="1"] .thumb.animated .color_bg {transition-delay:0.1;}
.insta_wrap .swiper-slide[data-swiper-slide-index="2"] .thumb.animated .color_bg {transition-delay:0.2s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="3"] .thumb.animated .color_bg {transition-delay:0.3s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="4"] .thumb.animated .color_bg {transition-delay:0.4s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="5"] .thumb.animated .color_bg {transition-delay:0.5s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="6"] .thumb.animated .color_bg {transition-delay:0.6s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="7"] .thumb.animated .color_bg {transition-delay:0.7s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="8"] .thumb.animated .color_bg {transition-delay:0.8s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="9"] .thumb.animated .color_bg {transition-delay:0.9s;}
.insta_wrap .swiper-slide[data-swiper-slide-index="10"] .thumb.animated .color_bg {transition-delay:1s;}
.insta_wrap .swiper-slide .thumb:hover .color_bg {width:500px;top:170px;transition:all 0.5s;}


@media screen and (max-width:1024px) {
	.insta_wrap {margin-top:100px;}
}


.service_wrap {height:550px;margin-top:140px;width:100%;overflow: hidden;}
.service_wrap .inner {position:relative;}
.service_wrap .left {z-index:99;position:absolute;top:0;left:0;}
.service_wrap .title_box {padding-top:60px;z-index:99;}
.service_wrap .title_box strong {font-size:36px;margin-top:32px;display:block;font-weight:400;}

.service_wrap .service_select {margin-top:20px;width:336px;height:55px; z-index:10;background-repeat:no-repeat;border-bottom:3px solid #000;font-size:36px;overflow:hidden;}
.service_wrap .service_select ul.selectbox-options li.swiper-slide-thumb-active {font-weight:700;display:block;}
.service_wrap .service_select ul.selectbox-options {position:absolute;width:100%;height:50px;max-height:50px;margin:0;padding:0;background-color:#fff;z-index:9;transition:max-height .5s ease-out;}
.service_wrap .service_select ul.selectbox-options li {list-style:none;}
.service_wrap .service_select ul.selectbox-options.opened {height:auto;max-height:500px;border:1px solid #ccc;box-shadow:1px 1px 10px rgb(0,0,0,0.2)}
.service_wrap .service_select ul.selectbox-options li {display:none;height:50px;line-height:50px;font-size:36px;border-bottom:1px solid #eee;}
.service_wrap .service_select ul.selectbox-options li.swiper-slide-thumb-active {font-weight:bold;display:block;}
.service_wrap .service_select ul.selectbox-options li.swiper-slide-thumb-active,
.service_wrap .service_select ul.selectbox-options li:first-child,
.service_wrap .service_select ul.selectbox-options.opened li.swiper-slide-thumb-active:first-child {background-repeat:no-repeat;background-image:url(../image/main/arr.png);background-position:100% 0;}
.service_wrap .service_select ul.selectbox-options.opened li:first-child,
.service_wrap .service_select ul.selectbox-options.opened li.swiper-slide-thumb-active:first-child {background-position:100% -50px;}
.service_wrap .service_select ul.selectbox-options.opened li {display:block;font-size:24px;padding-left:10px;}
.service_wrap .service_select ul.selectbox-options.opened li.swiper-slide-thumb-active {background-image:none;}
.service_wrap .service_select ul.selectbox-options li.swiper-slide-thumb-active {display:block;}

.service_wrap .thumb {position:relative;height:550px;left:390px;overflow:visible}
.service_wrap .thumb .swiper-slide {opacity:0.4;width:750px;}
.service_wrap .thumb .swiper-slide img {max-width: 100%;}
.service_wrap .thumb .swiper-slide-active {opacity:1;transition:all 0.5s;}
.service_wrap .thumb .txt {width:336px;overflow:hidden;position:absolute;left:-290px;top:260px;color:#545454;font-size:16px;line-height:24px;opacity:0;transition:all 0.5s;}
.service_wrap .thumb .swiper-slide-active .txt {opacity:1;top:260px;left:-390px;transition:all 0.5s;transition-delay:0.3s;}
.service_wrap .pg_nav {position:absolute;top:413px;left:-390px;display:block;font-size:18px;width:120px;height:10px;}
.service_wrap .thumb .swiper-slide.swiper-slide-prev {opacity:0;transition:all 0.1s;transition-delay:-0.9s;}
@media screen and (max-width:1600px) {
	.service_wrap {padding:0 0 0 15px !important;}
}

@media screen and (max-width:1024px) {
	.service_wrap {padding:0 48px !important;height:initial;   margin-top:80px;}
	.service_wrap .left {position:relative;}
	.service_wrap .thumb {position:relative;height:initial;left:0;overflow:hidden}
	.service_wrap .thumb img {max-width:100%;}
	.service_wrap .thumb .swiper-slide {width:100%;}
	.service_wrap .title_box {padding-top:0;text-align:center;}
	.service_wrap .title_box h2 {font-size:18px;}
	.service_wrap .title_box strong {font-size:25px;margin-top:30px;}
	.service_wrap .service_select {margin-top:14px;width:100%;height:54px;font-size:28px;}
	.service_wrap .service_select ul.selectbox-options {height:30px;max-height:30px;}
	.service_wrap .service_select ul.selectbox-options li {height:50px;line-height:50px;font-size:28px;}
	.service_wrap .service_select ul.selectbox-options.opened li {display:block;font-size:20px;padding-left:10px;}
	
	.service_wrap .thumb .txt {width:100%;position:relative;;left:0;top:0;font-size:14px;line-height:22px;opacity:1;margin-top:47px;margin-bottom:10px;}
	.service_wrap .thumb .swiper-slide-active .txt {opacity:1;top:0;left:0;transition-delay:0;}

	.service_wrap .pg_nav {position:relative;top:0;left:0;width:120px;height:18px;margin:10px auto 0 auto;}
	.service_wrap .swiper-pagination {bottom:0;}
	.service_wrap .swiper-button-next {width:18px;height:18px;background-size:18px;margin:0;top:0;}
	.service_wrap .swiper-button-prev {width:18px;height:18px;background-size:18px;margin:0;top:0;}
}



.quick_menu {position:fixed;right:-88px;top:328px;z-index:9999;transition:right .4s ease;}
.quick_menu:hover {right:0;}
.quick_menu>li {margin-top:1px;}
.quick_menu>li>a {position:relative;display:block;padding:0 17px 0 50px;height:50px;color:#fff;background:#000;line-height:50px;font-size:14px;}
.quick_menu>li>a:hover {background:rgba(0,117,194,0.85);}
.quick_menu>li:first-child {margin-top:0;}
.quick_menu>li:first-child a::before {content:'';position:absolute;left:0;top:0;width:50px;height:50px;background:url('../image/main/ico-quick01.png') no-repeat center;}
.quick_menu>li:nth-child(2) a::before {content:'';position:absolute;left:0;top:0;width:50px;height:50px;background:url('../image/main/ico-quick02.png') no-repeat center;}
.quick_menu>li:nth-child(3) a::before {content:'';position:absolute;left:0;top:0;width:50px;height:50px;background:url('../image/main/ico-quick03.png') no-repeat center;}
.quick_menu>li:nth-child(4) a::before {content:'';position:absolute;left:0;top:0;width:50px;height:50px;background:url('../image/main/ico-quick04.png') no-repeat center;}

@media screen and (max-width:1024px) {
	.quick_menu {display:none;}
	.insta_wrap h2 {font-size:18px;}
	.insta_wrap .swiper-slide {margin-top:30px;}
}

.info_wrap {margin-top:120px;overflow:hidden;}
.info_wrap .item_box {float:left;width:50%;min-height:284px;box-sizing:border-box;}
.info_wrap .item_box.notice {padding-right:80px;border-right:1px solid #e1e1e1;}
.info_wrap .item_box.notice .title {overflow:hidden;}
.info_wrap .item_box.notice .title h3 {float:left;font-size:18px;}
.info_wrap .item_box.notice .title .btn_more {float:right;font-size:12px;font-weight:bold;padding-bottom:3px;border-bottom:2px solid #000;}
.info_wrap .item_box.notice .notice_list {margin-top:40px;}
.info_wrap .item_box.notice .notice_list > li {padding:17px 0;border-bottom:1px solid #f1f1f1;}
.info_wrap .item_box.notice .notice_list > li > a {overflow:hidden;display:block; font-size:16px;}
.info_wrap .item_box.notice .notice_list > li > a:hover .title {text-decoration:underline;}
.info_wrap .item_box.notice .notice_list > li .title {float:left;color:#333;}
.info_wrap .item_box.notice .notice_list > li .date {float:right;color:#7c7c7c;}
.info_wrap .item_box.cs {position:relative;padding-left:80px;}
.info_wrap .item_box.cs .item {float:left;width:50%;}
.info_wrap .item_box.cs .item .title {font-size:18px;}
.info_wrap .item_box.cs .item .sub_title {margin-top:36px;font-size:24px;line-height:1.42;}
.info_wrap .item_box.cs .item .desc {margin-top:10px;font-size:16px;color:#333;line-height:1.63;}
.info_wrap .item_box.cs .item .ico {display:block;margin-top:35px;width:44px;height:44px;text-align:center;}
.info_wrap .item_box.cs .item .ico img {display:inline-block;}
.info_wrap .item_box.cs .item .center_info {margin-top:36px;height:68px;}
.info_wrap .item_box.cs .item .center_info > li {font-size:24px;margin-top:10px;}
.info_wrap .item_box.cs .item .center_info > li:first-child {margin-top:0;}

@media screen and (max-width:1024px) {
	.info_wrap {padding-bottom:58px;}
  .info_wrap .item_box {float:none;}
  .info_wrap .item_box.notice {padding-right:0;width:100%;height:290px;border-right:none;}
  .info_wrap .item_box.notice .notice_list {margin-top:15px;}
  .info_wrap .item_box.notice .notice_list > li {padding:15px 0;}
  .info_wrap .item_box.notice .notice_list > li .title {margin-right:41px;width:calc(100% - 121px);text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
  .info_wrap .item_box.notice .notice_list > li .date {width:80px;font-size:14px;line-height:16px;}
  .info_wrap .item_box.cs {padding-left:0;width:100%;}
  .info_wrap .item_box.cs .item {float:none;height:270px;}
  .info_wrap .item_box.cs .item .sub_title {margin-top:30px;}
  .info_wrap .item_box.cs .item .ico {position:absolute;bottom:0;}
	.info_wrap .item_box.cs .swiper-slide-next {margin-left:-12%;opacity:0.2;}  
	.info_wrap .item_box.cs .swiper-pagination {bottom:6px;}
}
