
@charset "UTF-8";

/*  ---------------------
        commonm
 --------------------- */
.sub #content {width:1530px;margin:0 auto;}

 /* sub title */
.tit_sub {margin-bottom:50px;text-align: center;}
.tit_sub h2 {font-size:36px;font-weight: 400;}
.tit_sub p {font-size:16px;margin-top:20px;color:#333;}
.tit_sub.type_bg {height: 220px; margin-bottom: 0; background: #000;}
.tit_sub.type_bg h2 {padding-top: 60px; color: #fff;}
.tit_sub.type_bg p {margin-top: 18px; font-size: 18px; color: #fff;}

/* content */
.cont_wrap {padding-top:90px;min-height:500px;}
.cont_wrap.tab_area {padding-top:0;}
.cont_wrap.no_pdt {padding-top: 0;}

 /* title */
.tit_box {text-align: center;max-width:1100px;margin:0 auto;}
.tit_box h3 {font-size:36px;font-weight: 700;}
.tit_box .stit {font-size:18px;margin-top:20px;font-weight: 700;}
.tit_box .summary {font-size:16px;margin-top:40px;color:#333;line-height: 1.5;}

 /* local menu */
.breadcrumb_wrap {font-size:10px;color:#737373;margin-top:30px;}
.breadcrumb_wrap .home {font-size:0;width:16px;height:16px;overflow: hidden;line-height: 999;display: inline-block;margin-top: 5px;vertical-align: top;}
.breadcrumb_wrap .home:after{content:"";clear:both;display:inline-block;background:url(../image/common/ico-home.png) no-repeat 0 0;width:16px;height:16px;}
.breadcrumb_wrap ul {display: inline-block;}
.breadcrumb_wrap li {float: left;font-size:13px;}
.breadcrumb_wrap li a {height:24px;line-height:24px;display: inline-block;}
.breadcrumb_wrap li:last-child {font-weight:500;}
.breadcrumb_wrap li:before {font-weight:400;content:"/";clear:both;font-size:10px;display:inline-block;padding:0 9px;}
.tit_sub.type_bg + .breadcrumb_wrap {margin-top: 20px;}
.breadcrumb_wrap + .tab_area {margin-top: 20px;}

 /* page_tab */
.page_tab{margin-bottom:60px;height:64px;position: relative;width:100%; border-top:1px solid #e7e7e7;}
.page_tab > ul{position: absolute;top:0;left:50%;transform: translateX(-50%);display: table;}
.page_tab > ul > li{display: table-cell;}
.page_tab > ul > li > a{display:block;width:306px;height:64px;line-height:64px;font-size:20px;color:#333;text-align:center;border-top:3px solid #fff;overflow:hidden;font-weight:500;}
.page_tab > ul > li.active a, .page_tab > ul > li a:hover{border-color:#000;color:#000;}

 /* anchor */
.item_anchor {}
.item_anchor ul {width:100%;}
.item_anchor ul li {width:20%;}
.item_anchor ul li a {width:100%;text-align: center;}

/* 게시판 리스트 */
.cont_wrap .bbs_list {width:100%;}
.cont_wrap .bbs_list table {width:100%;}
.cont_wrap .bbs_list th {height:54px; border-top:2px solid #000; border-bottom:1px solid #e7e7e7; color:#000; vertical-align:middle; font-size:16px; font-weight:bold;}
.cont_wrap .bbs_list td {height:70px; border-bottom:1px solid #e7e7e7; color:#333; vertical-align:middle; font-size:16px; font-weight:normal;}
.cont_wrap .bbs_list td a {display:inline-block; width:100%; color:#333; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-size:16px; font-weight:normal;}
.cont_wrap .bbs_list td {text-align:center;}
.cont_wrap .bbs_list .cell_notice td, 
.cont_wrap .bbs_list .cell_notice td a {color:#000; font-weight:500;}
.cont_wrap .bbs_list .cell_new td, 
.cont_wrap .bbs_list .cell_new td a {color:#ff0201; font-weight:500;}
.cont_wrap .bbs_list .cell_new img {margin:0 auto; display:block; width:18px; height:18px;}
.cont_wrap .bbs_list .cell_left {padding-left:3.72%; text-align:left;}
.cont_wrap .bbs_list .cell_center {text-align:center;}

.search_box {overflow:hidden;}
.search_box form {float:right;}
.search_box .search_inp {float:left; position:relative; margin-left:10px;}
.search_box .search_inp a {position:absolute; top:50%; right:20px; transform: translateY(-50%); width:20px; height:20px; background:url('../image/sub/btn-search.png') no-repeat; background-size:20px 20px; font-size:0;}


/* 페이지 네비게이션 */
.page_navi {position:relative; left:50%; display:inline-block; margin-top:40px; overflow:hidden; transform:translateX(-50%);}
.page_navi .btn_navi {float:left; margin-left:4px; width:36px; height:36px; border:1px solid #dedede;}
.page_navi .btn_navi.prev {margin-left:0;}
.page_navi .navi_list {float:left; overflow:hidden;}
.page_navi .navi_list > li {float:left; margin-left:4px; width:36px; height:36px; border:1px solid #dedede;}
.page_navi .navi_list > li.active > a {background:#03a2ea; color:#fff;}
.page_navi .navi_list > li a {display:block; width:100%; color:#333; text-align:center; line-height:36px;}

/* 게시판 보기 */
.cont_wrap .title_bbs strong {display:block; font-size:24px; font-weight:bold;}
.cont_wrap .title_bbs span {display:block; margin-top:14px; color:#545454; font-size:16px;}
.cont_wrap .content_bbs {margin-top:40px; padding:60px 0; box-sizing:border-box; border-top:2px solid #000; border-bottom:1px solid #000;}
.cont_wrap .content_bbs .img_content img {display:block; width:100%; height:100%; border:1px solid pink;}
.cont_wrap .content_bbs .txt_content {color:#333; font-size:16px; font-weight:400; white-space: pre-line; line-height:24px;}
.cont_wrap .content_bbs .txt_content em {display:block; text-indent:10px; font-style:normal; font-size:16px; font-weight:300; line-height:24px;}
.cont_wrap .content_bbs .txt_content strong {font-weight:500;}
.cont_wrap .content_bbs .txt_content a {color:#03a2ea; text-decoration: underline;}

/* 이미지형 리스트 */
.cont_wrap .photo_list {overflow:hidden;}
.cont_wrap .photo_list li {float:left;}
.cont_wrap .photo_list li a {display:block;}
.cont_wrap .photo_list .img_box img {display:block; width:100%; height:100%; border:1px solid pink;}
.cont_wrap .photo_list .txt_box h3 {margin-top:17px; color:#000; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; line-height:2; font-size:24px; font-weight:bold;}
.cont_wrap .photo_list .txt_box span {color:#545454; line-height:18px; font-size:16px;}
.cont_wrap .photo_list .txt_box p {margin-top:20px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-size:16px; color:#545454; line-height:28px;}

/* input */
input { padding:0 20px; height:50px; color:#333; border:1px solid #dedede; box-sizing: border-box; line-height:50px; font-size:16px;}

/* select */
select { padding:0 20px; width: 100%; height:50px; box-sizing: border-box; color:#333; border:1px solid #dedede; line-height:50px; font-family: 'notokr'; font-size:16px; background: #fff url(../images/common/arr-bottom.png) no-repeat; background-position: right 11px center; }
select::-ms-expand {display: none;}

/* button */
.btn_wrap {margin-top:60px; overflow:hidden;}
.btn_wrap.center {position:relative; left:50%; display:inline-block; transform:translateX(-50%);}
.btn_wrap .btn {display:inline-block; width:120px; height:50px; line-height:50px; text-align:center; font-size:14px; font-weight:500;}
.btn.type01 {background:#03a2ea; color:#fff;}
.btn.type02 {background:#fff; border:1px solid #03a2ea; color:#03a2ea;}


/*  ---------------------
        sub
 --------------------- */
/* 센터 소개 */
.center_view_wrap h3 {font-size:24px;font-weight: 700;border-bottom:1px solid #000;padding-bottom:12px;margin-bottom:40px;}
.center_view_wrap h3.border_none {border:0;padding:0;}
.center_view_wrap h3 .title_alert {position: relative; top: 8px; float: right; font-size: 14px; font-weight: 500;}
.center_view_wrap .item_box {margin-top:100px;}
.center_view_wrap .item_box:first-child{margin-top:0;}
.center_view_wrap .item1 .inner {width:100%; height: 454px;}
.center_view_wrap .item1 .inner .left {float:left;width:730px;}
.center_view_wrap .item1 .inner .left img {width: 100%;}
.center_view_wrap .item1 .inner .right {float:left; width: calc(100% - 730px); padding-left: 50px; box-sizing: border-box;}
.center_view_wrap .item1 .btn_wrap {margin-top: 48px;}
.center_view_wrap .item1 .btn_wrap .btn {float:left; width: 304px;}
.center_view_wrap .item1 .btn_wrap .btn:first-child {margin-right: 12px;}

.center_view_wrap .info_tbl table {width: 100%;}
.center_view_wrap .info_tbl th {width: 120px; padding: 11px 0; text-align: left; font-size: 16px; font-weight: 500;}
.center_view_wrap .info_tbl td {padding: 11px 0; color: #333;}
.center_view_wrap .info_tbl td p {margin-top: 12px; color: #959595;}
.center_view_wrap .service_list .service_item {float: left; margin-left: 50px;}
.center_view_wrap .service_list .service_item:first-child {margin-left: 0;}
.center_view_wrap .service_list .service_item .ico {display: block;}
.center_view_wrap .service_list .service_item .name {display: block; margin-top: 17px; font-size: 16px; color: #333;}
.center_view_wrap .item3 .item {float: left; width: 50%;}
.center_view_wrap .item3 .item strong {font-size: 16px; font-weight: 500;}
.center_view_wrap .item3 .item ul {margin-top: 16px;}
.center_view_wrap .item3 .item ul > li {margin-top: 8px; font-size: 16px; color: #333;}
.center_view_wrap .item3 .item ul > li:first-child {margin-top: 0;}

.center_view_wrap .item4 .item {float: left; width: 50%;}
.center_view_wrap .item4 .item:nth-child(n + 3) {margin-top: 40px;}
.center_view_wrap .item4 .item strong {font-size: 16px; font-weight: 500;}
.center_view_wrap .item4 .item ul {margin-top: 16px;}
.center_view_wrap .item4 .item ul > li {margin-top: 8px; font-size: 16px; color: #333;}
.center_view_wrap .item4 .item ul > li:first-child {margin-top: 0;}
.center_view_wrap .item5 .map_view {height: 510px;}
.center_view_wrap .item5 .btn_wrap {text-align: center;}

/* 센터안내 */
.center_info_wrap {margin-bottom: 160px;}
.center_info_wrap .sch_box {height: 172px; padding: 60px 240px; background: #f3f4f6; border-top: 2px solid #000; box-sizing: border-box;}
.center_info_wrap .sch_box .sch_item {float: left; width: 250px; margin-left: 10px;}
.center_info_wrap .sch_box .sch_item:first-child {margin-left: 0;}
.center_info_wrap .sch_box .sch_item:nth-child(3) {width: 400px;}
.center_info_wrap .sch_box .btn_wrap {float: left; margin: 0 0 0 10px;}
.center_info_wrap .bbs_list {margin-top: 82px;}
.center_info_wrap .bbs_list .head_item {margin-bottom: 16px;}
.center_info_wrap .bbs_list .head_item .txt {float: left; font-size: 16px;}
.center_info_wrap .bbs_list .head_item .sort_item {float: right;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt {position: relative; float: left; margin-left: 14px; padding-left: 15px; font-size: 16px; color: #959595;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt::before {content: ''; position: absolute; left: 0; top: 3px; width: 1px; height: 12px; background: #dedede;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt:first-child {margin-left: 0;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt:first-child::before {display: none;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt.active {color: #03a2ea;}
.center_info_wrap .bbs_list thead tr th:first-child {width: 260px;}
.center_info_wrap .bbs_list thead tr th:nth-child(2) {width: 420px;}
.center_info_wrap .bbs_list thead tr th:nth-child(4) {width: 380px;}
.center_info_wrap .bbs_list tr .cell_left {padding-left: 0;}
.center_info_wrap .bbs_list .btn_more {display: inline-block; width: 98px; height: 36px; border: 1px solid #dedede; color: #160000; line-height: 35px; text-align: center;}

/* 공지사항 */
.notice_wrap .search_box select {float:left; width:136px;}
.notice_wrap .search_box input {width:300px;}
.notice_wrap .bbs_list {margin-top:20px;}
.notice_wrap .bbs_list td,
.notice_wrap .bbs_list td a {color:#898989;}

/* K매거진 */
.magazine_wrap .photo_list li {margin-left:30px; margin-bottom:40px; width:calc((100% - 60px) / 3);}
.magazine_wrap .photo_list li:first-child,
.magazine_wrap .photo_list li:nth-child(4) {margin-left:0;}
.magazine_wrap .photo_list li:nth-child(4),
.magazine_wrap .photo_list li:nth-child(5),
.magazine_wrap .photo_list li:last-child {margin-top:40px;}
.magazine_wrap .photo_list .img_box {width:100%; height:350px;}
.magazine_wrap .content_bbs .img_content {width:100%; height:660px;}
.magazine_wrap .content_bbs p {margin-top:60px;}

/* 이벤트 */
.event_wrap .photo_list {margin-top:40px;}
.event_wrap .photo_list li {margin-bottom:80px; width:calc((100% - 30px) / 2);}
.event_wrap .photo_list li:nth-child(even) {margin-left:30px;}
.event_wrap .photo_list li:nth-child(7),
.event_wrap .photo_list li:last-child {margin-bottom:40px;}
.event_wrap .photo_list .img_box {width:100%; height:300px;}
.event_wrap .head_item .sort_item .sort_opt {position: relative; float: left; margin-left: 13px; padding-left: 14px; font-size: 16px; color: #333;}
.event_wrap .head_item .sort_item .sort_opt::before {content: ''; position: absolute; left: 0; top: 3px; width: 1px; height: 12px; background: #e7e7e7;}
.event_wrap .head_item .sort_item .sort_opt:first-child {margin-left: 0;}
.event_wrap .head_item .sort_item .sort_opt:first-child::before {display: none;}
.event_wrap .head_item .sort_item .sort_opt.active {color:#000; font-weight:500;}
.event_wrap .content_bbs .img_content {margin:0 auto; width:978px; height:1800px;}
.event_wrap .product_list {margin-top:60px; overflow:hidden;}
.event_wrap .product_list li {float:left; margin-left:30px; width:230px;}
.event_wrap .product_list li:first-child {margin-left:0;}
.event_wrap .product_list li .img_box {width:100%; height:230px;}
.event_wrap .product_list li .img_box img {display:block; width:100%; height:100%; border:1px solid pink;}
.event_wrap .product_list li .txt_box {margin-top:20px;}
.event_wrap .product_list li strong {color:#444; font-size:20px; font-weight:normal; line-height:30px;}
.event_wrap .product_list li p {color:#444; font-size:20px; font-weight:bold; line-height:30px;}
.event_wrap .product_list li span {color:#666; font-size:20px; font-weight:normal; line-height:30px;}

/* 직무소개 */
.job_intro_wrap {margin-bottom: 156px;}
.job_intro_wrap .item_list {margin-top: 60px;}
.job_intro_wrap .item_list > li {float: left; width: 490px; margin-left: 30px;}
.job_intro_wrap .item_list > li:first-child {margin-left: 0;}
.job_intro_wrap .item_list > li:nth-child(4) {margin-left: 0;}
.job_intro_wrap .item_list > li:nth-child(n + 4) {margin-top: 80px;}
.job_intro_wrap .item_list .thumb img {width: 100%;}
.job_intro_wrap .item_list .txt {margin-top: 23px;}
.job_intro_wrap .item_list .txt strong {font-size: 24px;}
.job_intro_wrap .item_list .txt .full_name {margin-left: 10px; font-size: 16px; font-weight: 400; color: #959595;}
.job_intro_wrap .item_list .txt p {margin-top: 10px; font-size: 18px; color: #333; line-height: 1.44;}

/* 채용안내 */
.recruit_wrap {margin-bottom: 140px;}
.recruit_wrap .item_box {margin-top: 60px;}
.recruit_wrap .item_box h4 {font-size: 24px; padding-bottom: 12px; border-bottom: 1px solid #000;}
.recruit_wrap .item_box h4.border_none {border: 0; padding: 0;}
.recruit_wrap .item_box .item {margin-top: 80px;}
.recruit_wrap .item_box .item:first-child {margin-top: 0;}
.recruit_wrap .item_box .item .left {float: left;}
.recruit_wrap .item_box .item .left p {margin-top: 14px; font-size: 18px; color: #222;}
.recruit_wrap .item_box .item .right {float: right;margin-top: 5px;}
.recruit_wrap .item_box .item .right .btn_wrap {margin-top: 0;}
.recruit_wrap .item_box .item .right .btn_wrap .btn {width: 200px;}
.recruit_wrap .item_box .item .bbs_list table {table-layout: fixed;}
.recruit_wrap .item_box .item .bbs_list th {font-size: 18px; font-weight: 500; border-top: 0;}
.recruit_wrap .item_box .item .bbs_list th:nth-child(2) {width: 520px;}
.recruit_wrap .item_box .item .bbs_list td {height: auto; padding: 28px 0 26px; font-size: 18px; color: #222; text-align: left;}
.recruit_wrap .item_box .item .bbs_list td:first-child {padding-left: 97px; font-weight: 500;}
.recruit_wrap .item_box .item .bbs_list td:nth-child(2) {padding-left: 60px; }
.recruit_wrap .item_box .item .bbs_list td:nth-child(3) {padding-left: 34px; color: #222;}
.recruit_wrap .item_box .item .bbs_list td:nth-child(4) {padding-left: 50px;}
.recruit_wrap .item_box .item .bbs_list td p {margin-top: 10px;}
.recruit_wrap .item_box .item .bbs_list .list_type01 > li {line-height: 1.5;}
.recruit_wrap .item_box .item .bbs_list .list_type02 > li {line-height: 1.5;}
.recruit_wrap .item_box .item .bbs_list .list_type02 > li::before {content: '- ';}
.recruit_wrap .item_box .item .submit_list {margin-top: 35px;}
.recruit_wrap .item_box .item .submit_list > li {margin-top: 8px; font-size: 18px;}
.recruit_wrap .item_box .item .submit_list > li:first-child {margin-top: 0;}
.recruit_wrap .item_box .item .submit_list > li strong {font-weight: 500;}



