
@charset "UTF-8";

/*  ---------------------
        commonm
 --------------------- */
.sub #content {width:1530px;margin:0 auto;}

 /* sub title */
.tit_sub {margin-bottom:50px;text-align: center;}
.tit_sub h2 {font-size:36px;font-weight: 400;}
.tit_sub p {font-size:16px;margin-top:20px;color:#333;}

/* content */
.cont_wrap {border-top:1px solid #e7e7e7;padding-top:90px;min-height:500px;}
.cont_wrap.tab_area {padding-top:0;}
.cont_wrap.no_border {border-top: 0;}
.cont_wrap.no_pdt {padding-top: 0;}

 /* title */
.tit_box {text-align: center;max-width:1100px;margin:0 auto;}
.tit_box h3 {font-size:36px;font-weight: 700;}
.tit_box .stit {font-size:18px;margin-top:20px;font-weight: 700;}
.tit_box .summary {font-size:16px;margin-top:40px;color:#333;line-height: 1.5;}

 /* local menu */
.breadcrumb_wrap {font-size:10px;color:#737373;margin-top:30px;}
.breadcrumb_wrap .home {font-size:0;width:16px;height:16px;overflow: hidden;line-height: 999;display: inline-block;margin-top: 5px;vertical-align: top;}
.breadcrumb_wrap .home:after{content:"";clear:both;display:inline-block;background:url(../image/common/ico-home.png) no-repeat 0 0;width:16px;height:16px;}
.breadcrumb_wrap ul {display: inline-block;}
.breadcrumb_wrap li {float: left;font-size:13px;}
.breadcrumb_wrap li a {height:24px;line-height:24px;display: inline-block;}
.breadcrumb_wrap li:last-child {font-weight:500;}
.breadcrumb_wrap li:before {font-weight:400;content:"/";clear:both;font-size:10px;display:inline-block;padding:0 9px;}

 /* page_tab */
.page_tab{margin-bottom:60px;height:64px;position: relative;width:100%;}
.page_tab > ul{position: absolute;top:0;left:50%;transform: translateX(-50%);display: table;}
.page_tab > ul > li{display: table-cell;}
.page_tab > ul > li > a{display:block;width:306px;height:64px;line-height:64px;font-size:16px;color:#333;text-align:center;border-top:3px solid #fff;overflow:hidden;font-weight:500;}
.page_tab > ul > li.active a, .page_tab > ul > li a:hover{border-color:#000;color:#000;}

 /* anchor */
.item_anchor {}
.item_anchor ul {width:100%;}
.item_anchor ul li {width:20%;}
.item_anchor ul li a {width:100%;text-align: center;}




/*  ---------------------
        sub
 --------------------- */
.center_view h3 {font-size:24px;font-weight: 700;border-bottom:1px solid #000;padding-bottom:12px;margin-bottom:40px;}
.center_view h3.border_none {border:0;padding:0;}
.center_view .item_box {margin-top:100px;}
.center_view .item_box:first-child{margin-top:0;}
.center_view .item1 .inner {width:100%;}
.center_view .item1 .inner .left {float:left;width:730px;margin-right:50px;}
.center_view .item1 .inner .right {float:left;min-height: 454px;}


/* 센터안내 */
.center_info_wrap {margin-bottom: 160px;}
.center_info_wrap .sch_box {height: 172px; padding: 60px 240px; background: #f3f4f6; border-top: 2px solid #000; box-sizing: border-box;}
.center_info_wrap .sch_box .sch_item {float: left; width: 250px; margin-left: 10px;}
.center_info_wrap .sch_box .sch_item:first-child {margin-left: 0;}
.center_info_wrap .sch_box .sch_item:nth-child(3) {width: 400px;}
.center_info_wrap .sch_box .btn_wrap {float: left; margin: 0 0 0 10px;}
.center_info_wrap .bbs_list {margin-top: 82px;}
.center_info_wrap .bbs_list .head_item {margin-bottom: 16px;}
.center_info_wrap .bbs_list .head_item .txt {float: left; font-size: 16px;}
.center_info_wrap .bbs_list .head_item .sort_item {float: right;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt {position: relative; float: left; margin-left: 14px; padding-left: 15px; font-size: 16px; color: #959595;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt::before {content: ''; position: absolute; left: 0; top: 3px; width: 1px; height: 12px; background: #dedede;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt:first-child {margin-left: 0;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt:first-child::before {display: none;}
.center_info_wrap .bbs_list .head_item .sort_item .sort_opt.active {color: #03a2ea;}
.center_info_wrap .bbs_list thead tr th:first-child {width: 260px;}
.center_info_wrap .bbs_list thead tr th:nth-child(2) {width: 420px;}
.center_info_wrap .bbs_list thead tr th:nth-child(4) {width: 380px;}
.center_info_wrap .bbs_list tr .cell_left {padding-left: 0;}
.center_info_wrap .bbs_list .btn_more {display: inline-block; width: 98px; height: 36px; border: 1px solid #dedede; color: #160000; line-height: 35px; text-align: center;}


